[package]
name = "linkerd-app-inbound"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false
description = """
Configures and runs the inbound proxy
"""

[dependencies]
bytes = "1"
http = "0.2"
futures = { version = "0.3", default-features = false }
linkerd-app-core = { path = "../core" }
linkerd-server-policy = { path = "../../server-policy" }
linkerd-tonic-watch = { path = "../../tonic-watch" }
linkerd2-proxy-api = { version = "0.2", features = ["client", "inbound"] }
parking_lot = "0.11"
thiserror = "1.0"
tokio = { version = "1", features = ["sync"] }
tonic = { version = "0.5", default-features = false }
tower = { version = "0.4.8", features = ["util"] }
tracing = "0.1.26"

[target.'cfg(fuzzing)'.dependencies]
hyper = { version = "0.14.12", features = ["http1", "http2"] }
linkerd-app-test = { path = "../test" }
arbitrary = { version = "1", features = ["derive"] }
libfuzzer-sys = { version = "0.4.2", features = ["arbitrary-derive"] }

[dev-dependencies]
hyper = { version = "0.14.12", features = ["http1", "http2"] }
linkerd-app-test = { path = "../test" }
linkerd-io = { path = "../../io", features = ["tokio-test"] }
tokio = { version = "1", features = ["full", "macros"] }
tokio-test = "0.4"
linkerd-tracing = { path = "../../tracing", features = ["ansi"] }
