[package]
name = "linkerd-app-inbound"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false
description = """
Configures and runs the inbound proxy
"""

[dependencies]
bytes = "1"
http = "0.2"
futures = "0.3.9"
indexmap = "1.0"
linkerd-app-core = { path = "../core" }
tokio = { version = "1", features = ["sync"] }
tracing = "0.1.23"

[dependencies.tower]
version = "0.4"
# disable tower's tracing `log` integration for performance reasons, since we
# will consume tower's traces as traces.
default-features = false
features = [
    "util",
]

[dev-dependencies]
hyper = { version = "0.14.2", features = ["http1", "http2"] }
linkerd-app-test = { path = "../test" }
linkerd-io = { path = "../../io", features = ["tokio-test"] }
tokio = { version = "1", features = ["full", "macros"]}
tokio-test = "0.4"
tracing-subscriber = "0.2.16"
