[package]
name = "linkerd2-app-inbound"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
edition = "2018"
publish = false
description = """
Configures and runs the inbound proxy
"""

[dependencies]
bytes = "0.5"
http = "0.2"
futures_01 = { package = "futures", version = "0.1" }
futures = { version = "0.3" }
indexmap = "1.0"
linkerd2-app-core = { path = "../core" }
tokio = { version = "0.2" }
tower-grpc = { version = "0.1", default-features = false, features = ["protobuf"] }
tracing = "0.1.9"

[dependencies.tower]
version = "0.3"
# disable tower's tracing `log` integration for performance reasons, since we
# will consume tower's traces as traces.
default-features = false
features = [
    "util",
]

[dev-dependencies]
quickcheck = { version = "0.9", default-features = false }
