[package]
name = "linkerd-timeout"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false

[dependencies]
futures = { version = "0.3", default-features = false }
linkerd-error = { path = "../error" }
linkerd-stack = { path = "../stack" }
thiserror = "1"
tracing = "0.1.23"
pin-project = "1"
tokio = { version = "1", features = ["time"] }
tower = { version = "0.4.7", features = ["util", "make"] }

[dev-dependencies]
tower-test = "0.4"
tokio-test = "0.4"
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
