[package]
name = "linkerd-rustls"
version = { workspace = true }
authors = { workspace = true }
license = { workspace = true }
edition = "2018"
publish = { workspace = true }

[features]
rustls-aws-lc-fips = ["tokio-rustls/fips"]

[dependencies]
rustls-webpki = { version = "0.103.4", default-features = false, features = ["std", "aws-lc-rs"] }
# Pin to <1.12 to force linking against aws-lc 2.0
aws-lc-rs = { version = "=1.11", default-features = false }
rustls-post-quantum = { version = "0.2", default-features = false }
tokio-rustls = { workspace = true, default-features = false, features = ["aws-lc-rs"] }