[package]
name = "linkerd-rustls"
version = { workspace = true }
authors = { workspace = true }
license = { workspace = true }
edition = "2018"
publish = { workspace = true }

[features]
default = ["tokio-rustls-0-26"]
tokio-rustls-0-26 = ["dep:tokio-rustls-0-26"]
rustls-aws-lc-fips = ["tokio-rustls-0-26?/fips"]
test-util = ["dep:rcgen-0-14-5"]

[dependencies]
rustls-webpki = { version = "0.103.8", default-features = false, features = ["std", "aws-lc-rs"] }

[dependencies.tokio-rustls-0-26]
package = "tokio-rustls"
version = "0.26"
default-features = false
features = ["aws-lc-rs", "logging"]
optional = true

[dependencies.rcgen-0-14-5]
package = "rcgen"
version = "0.14.5"
default-features = false
features = ["crypto", "pem", "aws_lc_rs"]
optional = true
