[package]
name = "linkerd2-dns"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
edition = "2018"
publish = false

[dependencies]
futures = "0.3"
linkerd2-dns-name = { path = "./name" }
linkerd2-error = { path = "../error" }
tracing = "0.1.19"
tokio = { version = "0.3", features = ["rt", "sync"] }
pin-project = "0.4"
# trust-dns depends on Tokio 0.2
# TODO(eliza): when `trust-dns-resolver` supports Tokio 0.3, remove this.
# Note that this is blocked on:
# - https://github.com/bluejekyll/trust-dns/pull/1262
# - https://github.com/tokio-rs/tokio/issues/3084
tokio-compat-02 = "0.1.2"

[dependencies.trust-dns-resolver]
version = "0.20"
default-features = false
features = ["system-config", "tokio-runtime"]
# TODO(eliza): when 0.20 is published, depend on it from crates.io.
git = "https://github.com/bluejekyll/trust-dns.git"
rev = "97d3bf10ecb0711aebf523e930f5de873808eb33"
