[package]
name = "linkerd-dns"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false

[dependencies]
futures = "0.3.9"
linkerd-dns-name = { path = "./name" }
linkerd-error = { path = "../error" }
thiserror = "1.0"
tracing = "0.1.23"
tokio = { version = "1", features = ["rt", "sync", "time"] }
pin-project = "1"

[dependencies.trust-dns-resolver]
version = "0.20.0"
default-features = false
features = ["system-config", "tokio-runtime"]
