[package]
name = "linkerd-dns"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false

[dependencies]
futures = { version = "0.3", default-features = false }
linkerd-dns-name = { path = "./name" }
linkerd-error = { path = "../error" }
thiserror = "1.0"
tracing = "0.1.23"
tokio = { version = "1", features = ["rt", "sync", "time"] }
pin-project = "1"

[dependencies.trust-dns-resolver]
# Pinned until 0.21.0 is released with
# https://github.com/bluejekyll/trust-dns/commit/6dfc6713.
version = "=0.20.1"
default-features = false
features = ["system-config", "tokio-runtime"]
