[package]
name = "linkerd-dns"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2021"
publish = false

[dependencies]
futures = { version = "0.3", default-features = false }
linkerd-dns-name = { path = "./name" }
linkerd-error = { path = "../error" }
thiserror = "1.0"
tracing = "0.1.29"
trust-dns-resolver = "0.21.0-alpha.4"
tokio = { version = "1", features = ["rt", "sync", "time"] }
