[package]
name = "linkerd2-dns"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
edition = "2018"
publish = false

[dependencies]
futures = "0.3"
linkerd2-dns-name = { path = "./name" }
linkerd2-error = { path = "../error" }
tracing = "0.1.19"
tokio = { version = "0.3", features = ["rt", "sync"] }
pin-project = "0.4"

[dependencies.trust-dns-resolver]
version = "0.20.0-alpha.3"
default-features = false
features = ["system-config", "tokio-runtime"]
# TODO(eliza): when 0.20 is published, depend on it from crates.io.
git = "https://github.com/bluejekyll/trust-dns"
rev = "028ac68ee016c1b5d92366ee5fe6661f6132de4d"