[package]
name = "opencensus-proto"
version = "0.1.0"
authors = ["The OpenCensus Authors"]
edition = "2018"
publish = false
description = """
gRPC bindings for OpenCensus.

Vendored from https://github.com/census-instrumentation/opencensus-proto/.
"""

[dependencies]
bytes = "1"
tonic = { version = "0.3", default-features = false, features = ["prost", "codegen"] }
prost = "0.7"
prost-types = "0.7"

[build-dependencies]
tonic-build = { version = "0.3", features = ["prost"], default-features = false }

[lib]
doctest = false
