[package]
name = "opencensus-proto"
version = "0.1.0"
authors = ["The OpenCensus Authors"]
license = "Apache-2.0"
edition = "2021"
publish = false
description = """
gRPC bindings for OpenCensus.

Vendored from https://github.com/census-instrumentation/opencensus-proto/.
"""

[dependencies]
bytes = "1"
tonic = { version = "0.6", default-features = false, features = ["prost", "codegen"] }
prost = "0.9"
prost-types = "0.9"

[build-dependencies]
tonic-build = { version = "0.7", features = ["prost"], default-features = false }

[lib]
doctest = false
