[package]
name = "linkerd-app-core"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2021"
publish = false
description = """
Core infrastructure for the proxy application

This crate conglomerates proxy configuration, runtime administration, etc,
independently of the inbound and outbound proxy logic.
"""

[features]
default = ["identity-rustls-meshtls"]
identity-rustls-meshtls = ["linkerd-identity-rustls-meshtls"]
identity-boring-mozilla-intermediate-v5 = ["linkerd-identity-boring-mozilla-intermediate-v5"]

[dependencies]
bytes = "1"
drain = { version = "0.1.0", features = ["retain"] }
http = "0.2"
http-body = "0.4"
hyper = { version = "0.14.14", features = ["http1", "http2"] }
futures = { version = "0.3", default-features = false }
ipnet = "2.3"
linkerd-addr = { path = "../../addr" }
linkerd-cache = { path = "../../cache" }
linkerd-conditional = { path = "../../conditional" }
linkerd-dns = { path = "../../dns" }
linkerd-detect = { path = "../../detect" }
linkerd-duplex = { path = "../../duplex" }
linkerd-errno = { path = "../../errno" }
linkerd-error = { path = "../../error" }
linkerd-error-respond = { path = "../../error-respond" }
linkerd-exp-backoff = { path = "../../exp-backoff" }
linkerd-http-classify = { path = "../../http-classify" }
linkerd-http-metrics = { path = "../../http-metrics" }
linkerd-http-retry = { path = "../../http-retry" }
linkerd-identity = { path = "../../identity" }
linkerd-identity-rustls-meshtls = { path = "../../identity/rustls-meshtls", optional = true }
linkerd-identity-boring-mozilla-intermediate-v5 = { path = "../../identity/boring-mozilla-intermediate-v5", optional = true }
linkerd-io = { path = "../../io" }
linkerd-metrics = { path = "../../metrics", features = ["linkerd-stack"] }
linkerd-opencensus = { path = "../../opencensus" }
linkerd-proxy-core = { path = "../../proxy/core" }
linkerd-proxy-api-resolve = { path = "../../proxy/api-resolve" }
linkerd-proxy-discover = { path = "../../proxy/discover" }
linkerd-proxy-identity-client = { path = "../../proxy/identity-client" }
linkerd-proxy-http = { path = "../../proxy/http" }
linkerd-proxy-resolve = { path = "../../proxy/resolve" }
linkerd-proxy-dns-resolve = { path = "../../proxy/dns-resolve" }
linkerd-proxy-tap = { path = "../../proxy/tap" }
linkerd-proxy-tcp = { path = "../../proxy/tcp" }
linkerd-proxy-transport = { path = "../../proxy/transport" }
linkerd-reconnect = { path = "../../reconnect" }
linkerd-retry = { path = "../../retry" }
linkerd-service-profiles = { path = "../../service-profiles" }
linkerd-stack = { path = "../../stack" }
linkerd-stack-metrics = { path = "../../stack/metrics" }
linkerd-stack-tracing = { path = "../../stack/tracing" }
linkerd-tracing = { path = "../../tracing" }
linkerd-transport-header = { path = "../../transport-header" }
linkerd-transport-metrics = { path = "../../transport-metrics" }
linkerd-tls = { path = "../../tls" }
linkerd-trace-context = { path = "../../trace-context" }
regex = "1.5.4"
serde_json = "1"
thiserror = "1.0"
tokio = { version = "1", features = ["macros", "sync", "parking_lot"]}
tokio-stream = { version = "0.1.8", features = ["time"] }
tonic = { version = "0.6", default-features = false, features = ["prost"] }
tracing = "0.1.29"
parking_lot = "0.11"
pin-project = "1"

[dependencies.tower]
version = "0.4.10"
default-features = false
features = [
    "buffer",
    "make",
    "spawn-ready",
    "timeout",
    "util",
    "limit",
]

[target.'cfg(target_os = "linux")'.dependencies]
linkerd-system = { path = "../../system" }

[dev-dependencies]
quickcheck = { version = "1", default-features = false }
