[package]
name = "linkerd-app-core"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false
description = """
Core infrastructure for the proxy application

This crate conglomerates proxy configuration, runtime administration, etc,
independently of the inbound and outbound proxy logic.
"""

[features]
mock-orig-dst  = ["linkerd-proxy-transport/mock-orig-dst"]

[dependencies]
async-stream = "0.3"
bytes = "1"
http = "0.2"
http-body = "0.4"
hyper = { version = "0.14.2", features = ["http1", "http2"] }
futures = "0.3.9"
indexmap = "1.0"
ipnet = "2.0"
linkerd-addr = { path = "../../addr" }
linkerd-cache = { path = "../../cache" }
linkerd-buffer = { path = "../../buffer" }
linkerd-concurrency-limit = { path = "../../concurrency-limit" }
linkerd-conditional = { path = "../../conditional" }
linkerd-dns = { path = "../../dns" }
linkerd-drain = { path = "../../drain", features = ["retain"] }
linkerd-detect = { path = "../../detect" }
linkerd-duplex = { path = "../../duplex" }
linkerd-errno = { path = "../../errno" }
linkerd-error = { path = "../../error" }
linkerd-error-metrics = { path = "../../error-metrics" }
linkerd-error-respond = { path = "../../error-respond" }
linkerd-exp-backoff = { path = "../../exp-backoff" }
linkerd-http-classify = { path = "../../http-classify" }
linkerd-http-metrics = { path = "../../http-metrics" }
linkerd-identity = { path = "../../identity" }
linkerd-io = { path = "../../io" }
linkerd-metrics = { path = "../../metrics" }
linkerd-transport-header = { path = "../../transport-header" }
linkerd-opencensus = { path = "../../opencensus" }
linkerd-proxy-core = { path = "../../proxy/core" }
linkerd2-proxy-api = { git = "https://github.com/linkerd/linkerd2-proxy-api", tag = "v0.1.18" }
linkerd-proxy-api-resolve = { path = "../../proxy/api-resolve" }
linkerd-proxy-discover = { path = "../../proxy/discover" }
linkerd-proxy-identity = { path = "../../proxy/identity" }
linkerd-proxy-http = { path = "../../proxy/http" }
linkerd-proxy-resolve = { path = "../../proxy/resolve" }
linkerd-proxy-dns-resolve = { path = "../../proxy/dns-resolve" }
linkerd-proxy-tap = { path = "../../proxy/tap" }
linkerd-proxy-tcp = { path = "../../proxy/tcp" }
linkerd-proxy-transport = { path = "../../proxy/transport" }
linkerd-reconnect = { path = "../../reconnect" }
linkerd-retry = { path = "../../retry" }
linkerd-timeout = { path = "../../timeout" }
linkerd-tracing = { path = "../../tracing" }
linkerd-service-profiles = { path = "../../service-profiles" }
linkerd-stack = { path = "../../stack" }
linkerd-stack-metrics = { path = "../../stack/metrics" }
linkerd-stack-tracing = { path = "../../stack/tracing" }
linkerd-tls = { path = "../../tls" }
linkerd-trace-context = { path = "../../trace-context" }
regex = "1.0.0"
tokio = { version = "1", features = ["macros", "sync", "parking_lot"]}
tonic = { version = "0.4", default-features = false, features = ["prost"] }
tracing = "0.1.23"
pin-project = "1"

[dependencies.tower]
version = "0.4"
# disable tower's tracing `log` integration for performance reasons, since we
# will consume tower's traces as traces.
default-features = false
features = [
    "make",
    "spawn-ready",
    "timeout",
    "util",
]

[target.'cfg(target_os = "linux")'.dependencies]
libc = "0.2"
procinfo = "0.4.2"

[dev-dependencies]
linkerd2-proxy-api = { git = "https://github.com/linkerd/linkerd2-proxy-api", tag = "v0.1.18", features = ["arbitrary"] }
prost-types = "0.7.0"
