[package]
name = "linkerd2-concurrency-limit"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
edition = "2018"
publish = false


[dependencies]
futures = "0.3"
linkerd2-stack = { path = "../stack" }
tokio = { version = "0.2.21", features = ["sync"] }
tower = { version = "0.4.1", default-features = false }
tracing = "0.1.22"
pin-project = "0.4"
