[package]
name = "linkerd-concurrency-limit"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false


[dependencies]
futures = { version = "0.3", default-features = false }
linkerd-stack = { path = "../stack" }
tokio = { version = "1", features = ["sync"] }
tokio-util = "0.6.5"
tower = { version = "0.4.7", default-features = false }
tracing = "0.1.23"
pin-project = "1"
