[package]
name = "linkerd-tracing"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false

[features]
default = []
ansi = ["tracing-subscriber/ansi"]

[dependencies]
linkerd-error = { path = "../error" }
tokio = { version = "1", features = ["time"] }
tokio-trace = { git = "https://github.com/hawkw/tokio-trace", rev = "7d5998e7cb3beb06ada5983675319dc4853576c5", features = ["serde"] }
tracing = "0.1.26"
tracing-log = "0.1.2"

[dependencies.tracing-subscriber]
version = "0.2.18"
default-features = false
features = ["env-filter", "fmt", "smallvec", "tracing-log", "json", "parking_lot"]

