[package]
name = "linkerd-tracing"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false

[dependencies]
bytes = "1"
html-escape = "0.2.5"
http = "0.2"
hyper = { version = "0.14.2", features = ["http1"] }
linkerd-error = { path = "../error" }
serde_json = "1"
tokio = { version = "1", features = ["time"] }
tokio-trace = { git = "https://github.com/hawkw/tokio-trace", rev = "7d5998e7cb3beb06ada5983675319dc4853576c5", features = ["serde"] }
tracing = "0.1.23"
tracing-log = "0.1"

[dependencies.tracing-subscriber]
version = "0.2.15"
# we don't need `chrono` time formatting or ANSI colored output
default-features = false
features = ["env-filter", "fmt", "smallvec", "tracing-log", "json", "parking_lot"]

