[package]
name = "linkerd-tracing"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2021"
publish = false

[features]
default = []
ansi = ["tracing-subscriber/ansi"]
stream = ["thingbuf"]

[dependencies]
linkerd-error = { path = "../error" }
tokio = { version = "1", features = ["time"] }
tracing = "0.1"
tracing-log = "0.1"
thingbuf = { version = "0.1.2", features = ["std"], optional = true }

[dependencies.tracing-subscriber]
version = "0.3.11"
default-features = false
features = ["env-filter", "fmt", "smallvec", "tracing-log", "json", "parking_lot", "registry"]
