[package]
name = "linkerd-http-metrics"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false

[dependencies]
bytes = "1"
futures = { version = "0.3", default-features = false }
http = "0.2"
http-body = "0.4"
hyper = { version = "0.14.13", features = ["http1", "http2"] }
linkerd-error = { path = "../error" }
linkerd-http-classify = { path = "../http-classify" }
linkerd-metrics = { path = "../metrics", features = ["linkerd-stack"] }
linkerd-stack = { path = "../stack" }
parking_lot = "0.11"
pin-project = "1"
tower = "0.4.8"
tracing = "0.1.28"
