[package]
name = "linkerd2-http-metrics"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
edition = "2018"
publish = false

[dependencies]
bytes = "0.4"
futures = "0.1"
futures_03 = {package = "futures", version = "0.3"}
h2 = "0.1"
http = "0.1"
http-body = "0.1"
hyper = "0.12.3"
indexmap = "1.0"
linkerd2-error = { path  = "../error" }
linkerd2-http-classify = { path  = "../http-classify" }
linkerd2-metrics = { path  = "../metrics" }
linkerd2-stack = { path  = "../stack" }
tokio = "0.1"
tokio-timer = "0.2"   # for tokio_timer::clock
tracing = "0.1.9"
pin-project = "0.4"

[dependencies.tower]
version = "0.3"
# disable tower's tracing `log` integration for performance reasons, since we
# will consume tower's traces as traces.
default-features = false