[package]
name = "linkerd-http-metrics"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false

[dependencies]
bytes = "1"
futures = "0.3.9"
http = "0.2"
http-body = "0.4"
hyper = { version = "0.14.2", features = ["http1", "http2"] }
indexmap = "1.0"
linkerd-error = { path = "../error" }
linkerd-http-classify = { path = "../http-classify" }
linkerd-metrics = { path = "../metrics" }
linkerd-stack = { path = "../stack" } 
tower = "0.4.7"
tracing = "0.1.23"
pin-project = "1"
