version: "3.7"
services:
  iperf:
    build:
      context: .
      dockerfile: Dockerfile-iperf
    secrets:
      - source: authorized_keys
        target: /root/.ssh/authorized_keys

  proxy:
    build:
      context: ..
      dockerfile: profiling/Dockerfile-proxy
    environment:
      SERVER:
      SERVER_PORT:
      LINKERD2_PROXY_LOG: "${LINKERD2_PROXY_LOG}"
      PROXY_PERF:
      PROXY_HEAP:
      NAME:
    depends_on:
      - iperf
      - fortio
    security_opt:
      - seccomp:./seccomp-perf.json
    volumes:
      - type: bind
        source: "${OUT_DIR}"
        target: "/out"
    secrets:
      - source: proxy_key
        target: /root/.ssh/id_ecdsa
      - source: proxy_pubkey
        target: /root/.ssh/id_ecdsa.pub

  fortio:
    build:
      context: .
      dockerfile: Dockerfile-fortio
    volumes:
      - type: bind
        source: "${OUT_DIR}"
        target: "/out"
    secrets:
      - source: authorized_keys
        target: /root/authorized_keys

secrets:
  authorized_keys:
    file: "${TEST_KEY_DIR}/authorized_keys"
  proxy_key:
    file: "${TEST_KEY_DIR}/id_ecdsa"
  proxy_pubkey:
    file: "${TEST_KEY_DIR}/id_ecdsa.pub"
