---
dist: trusty
sudo: false

language: rust
cache: cargo

branches:
  only:
    - master

jobs:
  include:
    # Quickly run tests in dev mode.
    - rust: stable
      install:
        - rustup component add rustfmt
        - export RUSTFLAGS="-C debuginfo=0" RUST_TEST_THREADS=1 RUST_TEST_PATIENCE_MS=200
      # # Cache debugging:
      # before_script:
      #   - du -sh . && find . -type f |xargs -n 1000 du -s |sort -rn |head |awk '{print $2}' |xargs du -sh
      script:
        - make check-fmt
        - travis_wait 40 make test-lib
        - travis_wait 60 make test-integration
        - make clean

    # On master, package an artifact and run tests in release mode before
    # publishing the artifact to build.l5d.io/linkerd2-proxy.
    #
    # build.l5d.io/linkerd2-proxy/latest.txt is updated to reference the latest
    # uploaded binary.
    - stage: publish
      if: branch = master && type != pull_request
      rust: stable
      script:
        # Set `CARGO_DEBUG` in order to include debug symbols.
        - CARGO_RELEASE=1 travis_wait make package
      after_deploy:
        - make clean-package
      deploy:
        on:
          repo: linkerd/linkerd2-proxy
          branch: master
        skip_cleanup: true
        local-dir: target/release/package
        bucket: build.l5d.io
        upload-dir: linkerd2-proxy
        acl: public-read
        provider: gcs
        access_key_id: GOOGFSRIR3LDO4FFBFCAZOCN
        secret_access_key:
          secure: bd5YkL1KY0xllwN/1S1gmrtBkJcPFFwVfP79q69ghHfLupSWUPCPs2fnNi7w+N1AqzWbyIKDZlakxNaq+/q/+jrZfpCHqrM/ufrJ9lwgKRdECbVLIChPb6/wBOrFMfBD3IaRlXAEea12VLJzQ4ZOvL4pM+isKAJFC4Zm1uVTOr4f3w08vixShutU61Lmg1fIPTnBMW9CGobQSQB63OW2lOtqtZ+rVseLGB2ZY4HnfCV++XbsYYVpfSMs/8I95yUnIW8rxag9tNlt5qdNjMYB1GjRqz4I/td6PL0H8bAmIgOkdv5261R10IXua0tVbcB3/w8dlKoDOMu0xAeBqar0/8qPGLKepW2BGEoVI9a5GsXuC0IRR89a+OHBU1HZeL7y8s9oNp1T0LUkpE7V46ryaGpsEDQhHd7W77+lZ9CDMJ0agQnKJ7dlX4hrLObJaZnneMPhu1YtEU4xV53RbynFPbPTCwXzAbK+vVTCo/YbmHHIvvPGdw7hrlHDgCai7cRrk+kNPpAb8xYBobDOtCjK14PvD/CQdAGoivjsBLqg2xmB2sD06HdmDWYOTsm+6H3D/EgPXbeFoB8xiYof43S2gz+R1MqioFKYR31YlcyMkopFe7mYpAeDDXoVal3zsYi9XdbP0J7jm6/UF0yQSsDWP7GWHoIE5jaRDSb66HQW7MY=

notifications:
  email:
    on_success: never
