[workspace]
members = [
    "hyper-balance",
    "linkerd/addr",
    "linkerd/admit",
    "linkerd/app/core",
    "linkerd/app/gateway",
    "linkerd/app/inbound",
    "linkerd/app/integration",
    "linkerd/app/outbound",
    "linkerd/app/profiling",
    "linkerd/app",
    "linkerd/cache",
    "linkerd/buffer",
    "linkerd/concurrency-limit",
    "linkerd/conditional",
    "linkerd/dns/name",
    "linkerd/dns",
    "linkerd/drain",
    "linkerd/duplex",
    "linkerd/error",
    "linkerd/errno",
    "linkerd/error-metrics",
    "linkerd/error-respond",
    "linkerd/exp-backoff",
    "linkerd/http-box",
    "linkerd/http-classify",
    "linkerd/http-metrics",
    "linkerd/identity",
    "linkerd/io",
    "linkerd/metrics",
    "linkerd/opencensus",
    "linkerd/proxy/api-resolve",
    "linkerd/proxy/core",
    "linkerd/proxy/detect",
    "linkerd/proxy/discover",
    "linkerd/proxy/http",
    "linkerd/proxy/identity",
    "linkerd/proxy/resolve",
    "linkerd/proxy/tap",
    "linkerd/proxy/tcp",
    "linkerd/proxy/transport",
    "linkerd/request-filter",
    "linkerd/reconnect",
    "linkerd/retry",
    "linkerd/router",
    "linkerd/service-profiles",
    "linkerd/signal",
    "linkerd/stack",
    "linkerd/stack/metrics",
    "linkerd/stack/tracing",
    "linkerd/timeout",
    "linkerd2-proxy",
    "opencensus-proto",
]

# Debug symbols end up chewing up several GB of disk space, so better to just
# disable them.
[profile.dev]
debug = false
[profile.test]
debug = false

[patch.crates-io]
webpki = { git = "https://github.com/linkerd/webpki", branch = "cert-dns-names-0.21" }
tower = { version = "0.3", git = "https://github.com/tower-rs/tower", rev = "8752a3811788e94670c62dc0acbc9613207931b1"}