[workspace]
members = [
    ".",
    "lib/fs-watch",
    "lib/futures-mpsc-lossy",
    "lib/metrics",
    "lib/router",
    "lib/stack",
    "lib/task",
    "lib/timeout",
]

[package]
name = "linkerd2-proxy"
version = "0.1.0"
authors = ["Oliver Gould <ver@buoyant.io>"]
publish = false

[features]
default = ["flaky_tests"]
# Disable to skip certain tests that should not be run on CI.
flaky_tests = []

[dependencies]
futures-mpsc-lossy = { path = "lib/futures-mpsc-lossy" }
linkerd2-fs-watch  = { path = "lib/fs-watch" }
linkerd2-metrics   = { path = "lib/metrics" }
linkerd2-never     = { path = "lib/never" }
linkerd2-router    = { path = "lib/router" }
linkerd2-stack     = { path = "lib/stack" }
linkerd2-task      = { path = "lib/task" }
linkerd2-timeout   = { path = "lib/timeout" }

linkerd2-proxy-api = { git = "https://github.com/linkerd/linkerd2-proxy-api", tag = "v0.1.3", version = "0.1.3" }

bytes = "0.4"
env_logger = { version = "0.5", default-features = false }
futures = "0.1"
futures-watch = { git = "https://github.com/carllerche/better-future" }
h2 = "0.1.11"
http = "0.1"
httparse = "1.2"
hyper = "0.12.3"
ipnet = "1.0"
log = "0.4.1"
indexmap = "1.0.0"
prost = "0.4.0"
prost-types = "0.4.0"
rand = "0.5.1"
try-lock = "0.2"

# for config parsing
regex = "1.0.0"

# networking
tokio = "0.1.7"
tokio-signal = "0.2"
tokio-timer = "0.2.6"   # for tokio_timer::clock
tokio-connect         = { git = "https://github.com/carllerche/tokio-connect" }
tower-add-origin      = { git = "https://github.com/tower-rs/tower-http" }
tower-balance         = { git = "https://github.com/tower-rs/tower" }
tower-buffer          = { git = "https://github.com/tower-rs/tower" }
tower-discover        = { git = "https://github.com/tower-rs/tower" }
tower-in-flight-limit = { git = "https://github.com/tower-rs/tower" }
tower-reconnect       = { git = "https://github.com/tower-rs/tower" }
tower-service         = { git = "https://github.com/tower-rs/tower" }
tower-util            = { git = "https://github.com/tower-rs/tower" }
tower-http            = { git = "https://github.com/tower-rs/tower-http" }
tower-h2              = { git = "https://github.com/tower-rs/tower-h2" }
tower-h2-balance      = { git = "https://github.com/tower-rs/tower-h2" }
tower-grpc            = { git = "https://github.com/tower-rs/tower-grpc" }

# FIXME update to a release when available (>0.10)
trust-dns-resolver = { git = "https://github.com/bluejekyll/trust-dns", rev = "c017c114", default-features = false }

# tls
ring = "0.13"
webpki = "0.18"
rustls = "0.13"
tokio-rustls = "0.7"
untrusted = "0.6"

[target.'cfg(target_os = "linux")'.dependencies]
libc = "0.2"
inotify = { git = "https://github.com/inotify-rs/inotify" }
procinfo = "0.4.2"

[dev-dependencies]
net2 = "0.2"
quickcheck = { version = "0.6", default-features = false }
linkerd2-metrics = { path = "./lib/metrics", features = ["test_util"] }
linkerd2-task    = { path = "lib/task", features = ["test_util"] }
linkerd2-proxy-api = { git = "https://github.com/linkerd/linkerd2-proxy-api", tag = "v0.1.3", version = "0.1.3", features = ["arbitrary"] }
flate2 = { version = "1.0.1", default-features = false, features = ["rust_backend"] }
# `tokio-io` is needed for TCP tests, because `tokio::io` doesn't re-export
# the `read` function.
tokio-io = "0.1.6"
