[workspace]
members = [
    ".",
    "lib/hyper-balance",
    "lib/linkerd2-addr",
    "lib/linkerd2-conditional",
    "lib/linkerd2-dns-name",
    "lib/linkerd2-drain",
    "lib/linkerd2-identity",
    "lib/linkerd2-metrics",
    "lib/linkerd2-proxy-core",
    "lib/linkerd2-proxy-fallback",
    "lib/linkerd2-proxy-resolve-dst-api",
    "lib/linkerd2-proxy-resolve-buffer",
    "lib/linkerd2-proxy-resolve-discover",
    "lib/linkerd2-proxy-resolve-reconnect",
    "lib/linkerd2-router",
    "lib/linkerd2-signal",
    "lib/linkerd2-stack",
    "lib/linkerd2-task",
    "lib/linkerd2-timeout",
]

[package]
name = "linkerd2-proxy"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
edition = "2018"
publish = false

[features]
default = ["flaky_tests"]
# Disable to skip certain tests that should not be run on CI.
flaky_tests = []

[dependencies]
hyper-balance = { path = "lib/hyper-balance" }
linkerd2-addr        = { path = "lib/linkerd2-addr" }
linkerd2-conditional = { path = "lib/linkerd2-conditional" }
linkerd2-dns-name    = { path = "lib/linkerd2-dns-name" }
linkerd2-identity    = { path = "lib/linkerd2-identity" }
linkerd2-metrics     = { path = "lib/linkerd2-metrics" }
linkerd2-never       = { path = "lib/linkerd2-never" }
linkerd2-proxy-core     = { path = "lib/linkerd2-proxy-core" }
linkerd2-proxy-fallback = { path = "lib/linkerd2-proxy-fallback" }
linkerd2-proxy-resolve-dst-api   = { path = "lib/linkerd2-proxy-resolve-dst-api" }
linkerd2-proxy-resolve-discover  = { path = "lib/linkerd2-proxy-resolve-discover" }
linkerd2-proxy-resolve-reconnect = { path = "lib/linkerd2-proxy-resolve-reconnect" }
linkerd2-router  = { path = "lib/linkerd2-router" }
linkerd2-signal  = { path = "lib/linkerd2-signal" }
linkerd2-stack   = { path = "lib/linkerd2-stack" }
linkerd2-task    = { path = "lib/linkerd2-task" }
linkerd2-timeout = { path = "lib/linkerd2-timeout" }

linkerd2-proxy-api = { git = "https://github.com/linkerd/linkerd2-proxy-api", rev = "ddbc3a4f7f8b0058801f896d27974d19ee98094c" }

bytes = "0.4"
futures = "0.1"
h2 = "0.1.15"
http = "0.1"
http-body = "0.1"
httparse = "1.2"
hyper = "0.12.3"
ipnet = "1.0"
log = { version = "0.4.1", features = ["std"] }
indexmap = "1.0.0"
prost = "0.5.0"
prost-types = "0.5.0"
rand = "0.6.3"
try-lock = "0.2"

# for config parsing
regex = "1.0.0"

# networking
tokio = "0.1.14"
tokio-timer = "0.2.6"   # for tokio_timer::clock
tower = "0.1"
tower-discover = "0.1"
tower-service = "0.2"
tower-util = "0.1"
tokio-connect          = { git = "https://github.com/carllerche/tokio-connect" }
tower-balance          = { git = "https://github.com/tower-rs/tower" }
tower-load             = { git = "https://github.com/tower-rs/tower" }
tower-reconnect        = { git = "https://github.com/tower-rs/tower" }
tower-request-modifier = { git = "https://github.com/tower-rs/tower-http" }
tower-spawn-ready      = { git = "https://github.com/tower-rs/tower" }
tower-grpc             = { git = "https://github.com/tower-rs/tower-grpc", default-features = false, features = ["protobuf"] }

# FIXME update to a release when available (>0.11)
trust-dns-resolver = { git = "https://github.com/bluejekyll/trust-dns", rev = "7c8a0739dad495bf5a4fddfe86b8bbe2aa52d060", default-features = false }

# tracing
tracing         = "0.1.3"
tracing-fmt     = "0.0.1-alpha.3"
tracing-futures = "0.0.1-alpha.1"
tracing-log     = "0.0.1-alpha.1"

# tls
ring = "0.16"
webpki = "0.21"
rustls = "0.16"
tokio-rustls = "0.10"
untrusted = "0.7"

[target.'cfg(target_os = "linux")'.dependencies]
libc = "0.2"
procinfo = "0.4.2"

[dev-dependencies]
net2 = "0.2"
quickcheck = { version = "0.8", default-features = false }
linkerd2-metrics = { path = "./lib/linkerd2-metrics", features = ["test_util"] }
linkerd2-task    = { path = "lib/linkerd2-task", features = ["test_util"] }
linkerd2-proxy-api = { git = "https://github.com/linkerd/linkerd2-proxy-api", features = ["arbitrary"], rev = "ddbc3a4f7f8b0058801f896d27974d19ee98094c" }
flate2 = { version = "1.0.1", default-features = false, features = ["rust_backend"] }
# `tokio-io` is needed for TCP tests, because `tokio::io` doesn't re-export
# the `read` function.
tokio-io = "0.1.6"
tokio-current-thread = "0.1.4"

# Debug symbols end up chewing up several GB of disk space, so better to just
# disable them.
[profile.dev]
debug = false
[profile.test]
debug = false

[patch.crates-io]
webpki = { git = "https://github.com/seanmonstar/webpki", branch = "cert-dns-names-0.21" }

