[workspace]
members = [
    "hyper-balance",
    "linkerd/addr",
    "linkerd/app/core",
    "linkerd/app/inbound",
    "linkerd/app/integration",
    "linkerd/app/outbound",
    "linkerd/app",
    "linkerd/cache",
    "linkerd/conditional",
    "linkerd/concurrency-limit",
    "linkerd/dns/name",
    "linkerd/dns",
    "linkerd/drain",
    "linkerd/duplex",
    "linkerd/error",
    "linkerd/exp-backoff",
    "linkerd/fallback",
    "linkerd/identity",
    "linkerd/io",
    "linkerd/lock",
    "linkerd/metrics",
    "linkerd/opencensus",
    "linkerd/proxy/api-resolve",
    "linkerd/proxy/core",
    "linkerd/proxy/detect",
    "linkerd/proxy/discover",
    "linkerd/proxy/http",
    "linkerd/proxy/identity",
    "linkerd/proxy/resolve",
    "linkerd/proxy/tap",
    "linkerd/proxy/tcp",
    "linkerd/proxy/transport",
    "linkerd/request-filter",
    "linkerd/reconnect",
    "linkerd/router",
    "linkerd/signal",
    "linkerd/stack",
    "linkerd/test-util",
    "linkerd/timeout",
    "linkerd2-proxy",
    "opencensus-proto",
]

# Debug symbols end up chewing up several GB of disk space, so better to just
# disable them.
[profile.dev]
debug = false
[profile.test]
debug = false

[patch.crates-io]
webpki = { git = "https://github.com/seanmonstar/webpki", branch = "cert-dns-names-0.21" }
