[workspace]
# Cargo should not unify feature flags across dev-dependencies and build
# dependencies. This will be the default behavior in Rust 2021.
resolver = "2"

members = [
    "hyper-balance",
    "linkerd/addr",
    "linkerd/app/core",
    "linkerd/app/gateway",
    "linkerd/app/inbound",
    "linkerd/app/integration",
    "linkerd/app/outbound",
    "linkerd/app/test",
    "linkerd/app",
    "linkerd/cache",
    "linkerd/concurrency-limit",
    "linkerd/conditional",
    "linkerd/detect",
    "linkerd/transport-header",
    "linkerd/dns/name",
    "linkerd/dns",
    "linkerd/drain",
    "linkerd/duplex",
    "linkerd/error",
    "linkerd/errno",
    "linkerd/error-metrics",
    "linkerd/error-respond",
    "linkerd/exp-backoff",
    "linkerd/http-box",
    "linkerd/http-classify",
    "linkerd/http-metrics",
    "linkerd/identity",
    "linkerd/io",
    "linkerd/metrics",
    "linkerd/opencensus",
    "linkerd/proxy/api-resolve",
    "linkerd/proxy/dns-resolve",
    "linkerd/proxy/core",
    "linkerd/proxy/discover",
    "linkerd/proxy/http",
    "linkerd/proxy/identity",
    "linkerd/proxy/resolve",
    "linkerd/proxy/tap",
    "linkerd/proxy/tcp",
    "linkerd/proxy/transport",
    "linkerd/reconnect",
    "linkerd/retry",
    "linkerd/service-profiles",
    "linkerd/signal",
    "linkerd/stack",
    "linkerd/stack/metrics",
    "linkerd/stack/tracing",
    "linkerd/system",
    "linkerd/timeout",
    "linkerd/tls",
    "linkerd/tracing",
    "linkerd2-proxy",
    "opencensus-proto",
]

# Debug symbols end up chewing up several GB of disk space, so better to just
# disable them.
[profile.dev]
debug = false
[profile.test]
debug = false

[patch.crates-io]
trust-dns-proto = { git = "https://github.com/bluejekyll/trust-dns", branch = "main" }
trust-dns-resolver = { git = "https://github.com/bluejekyll/trust-dns", branch = "main" }
webpki = { git = "https://github.com/linkerd/webpki", branch = "cert-dns-names-0.21" }
