targets = [
    { triple = "x86_64-unknown-linux-gnu" },
    { triple = "aarch64-unknown-linux-gnu" },
    { triple = "armv7-unknown-linux-gnu" },
]

[advisories]
db-path = "~/.cargo/advisory-db"
db-urls = ["https://github.com/rustsec/advisory-db"]
vulnerability = "deny"
unmaintained = "warn"
yanked = "deny"
notice = "warn"
ignore = []

[licenses]
allow = [
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "ISC",
    "MIT",
    "Unicode-3.0",
    "Unicode-DFS-2016",
]
deny = []
copyleft = "deny"
allow-osi-fsf-free = "neither"
default = "deny"
# Ignore local workspace license values for unpublished crates.
private = { ignore = true }
confidence-threshold = 0.8
exceptions = [
    { allow = [
        "Zlib",
    ], name = "adler32", version = "*" },
    { allow = [
        "ISC",
        "MIT",
        "OpenSSL",
    ], name = "ring", version = "*" },
]

[[licenses.clarify]]
name = "ring"
version = "*"
expression = "MIT AND ISC AND OpenSSL"
license-files = [
    { path = "LICENSE", hash = 0xbd0eed23 },
]

[bans]
multiple-versions = "deny"
# Wildcard dependencies are used for all workspace-local crates.
wildcards = "allow"
highlight = "all"
deny = [
    { name = "rustls", wrappers = ["tokio-rustls"] },
    # rustls-webpki should be used instead.
    { name = "webpki" },
]
skip = [
    # The proc-macro ecosystem is in the middle of a migration from `syn` v1 to
    # `syn` v2. Allow both versions to coexist peacefully for now.
    #
    # Since `syn` is used by proc-macros (executed at compile time), duplicate
    # versions won't have an impact on the final binary size.
    { name = "syn" },
    # `tonic` v0.6 depends on `bitflags` v1.x, while `boring-sys` depends on
    # `bitflags` v2.x. Allow both versions to coexist peacefully for now.
    { name = "bitflags", version = "1" },
    # `linkerd-trace-context`, `rustls-pemfile` and `tonic` depend on `base64`
    # v0.13.1 while `rcgen` depends on v0.21.5
    { name = "base64" },
    # https://github.com/hawkw/matchers/pull/4
    { name = "regex-automata", version = "0.1" },
    { name = "regex-syntax", version = "0.6" },
    # `trust-dns-proto`, depends on `idna` v0.2.3 while `url` depends on v0.5.0
    { name = "idna" },
    # Some dependencies still use indexmap v1.
    { name = "indexmap", version = "1" },
    { name = "hashbrown", version = "0.12" },
]
skip-tree = [
    # right now we have a mix of versions of this crate in the ecosystem
    # procfs uses 0.36.14, tempfile uses 0.37.4
    { name = "rustix" },
    # Hyper v0.14 depends on an older socket2 version.
    { name = "socket2" },
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]

[sources.allow-org]
github = ["linkerd"]
