targets = [
    { triple = "x86_64-unknown-linux-gnu" },
    { triple = "aarch64-unknown-linux-gnu" },
    { triple = "armv7-unknown-linux-gnu" },
]

[advisories]
db-path = "~/.cargo/advisory-db"
db-urls = ["https://github.com/rustsec/advisory-db"]
vulnerability = "deny"
unmaintained = "warn"
yanked = "deny"
notice = "warn"
ignore = []

[licenses]
unlicensed = "deny"
allow = [
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "ISC",
    "MIT",
]
deny = []
copyleft = "deny"
allow-osi-fsf-free = "neither"
default = "deny"
confidence-threshold = 0.8
exceptions = [
    { allow = [
        "Zlib",
    ], name = "adler32", version = "*" },
    { allow = [
        "ISC",
        "MIT",
        "OpenSSL",
    ], name = "ring", version = "*" },
    # The Unicode-DFS-2016 license is necessary for unicode-ident because they
    # use data from the unicode tables to generate the tables which are
    # included in the application. We do not distribute those data files so
    # this is not a problem for us. See https://github.com/dtolnay/unicode-ident/pull/9/files
    { allow = [
        "Unicode-DFS-2016",
    ], name = "unicode-ident", version = "*" },
]

[[licenses.clarify]]
name = "ring"
version = "*"
expression = "MIT AND ISC AND OpenSSL"
license-files = [
    { path = "LICENSE", hash = 0xbd0eed23 },
]

[bans]
multiple-versions = "deny"
# Wildcard dependencies are used for all workspace-local crates.
wildcards = "allow"
highlight = "all"
deny = [
    { name = "rustls", wrappers = ["tokio-rustls"] },
    # rustls-webpki should be used instead.
    { name = "webpki" },
]
skip = [
    # The proc-macro ecosystem is in the middle of a migration from `syn` v1 to
    # `syn` v2. Allow both versions to coexist peacefully for now.
    #
    # Since `syn` is used by proc-macros (executed at compile time), duplicate
    # versions won't have an impact on the final binary size.
    { name = "syn" },
    # `tonic` v0.6 depends on `bitflags` v1.x, while `boring-sys` depends on
    # `bitflags` v2.x. Allow both versions to coexist peacefully for now.
    { name = "bitflags", version = "1" },
]
skip-tree = [
    # right now we have a mix of versions of this crate in the ecosystem
    # procfs uses 0.36.14, tempfile uses 0.37.4
    { name = "rustix" },
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
