[package]
name = "linkerd-error-metrics"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false


[dependencies]
futures = "0.3.15"
indexmap = "1.0"
linkerd-metrics = { path = "../metrics" }
tower = { version = "0.4.7", default-features = false }
pin-project = "1"
