[package]
name = "linkerd2-error-metrics"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
edition = "2018"
publish = false


[dependencies]
futures = "0.3"
indexmap = "1.0"
linkerd2-metrics = { path = "../metrics" }
tower = { version = "0.3", default-features = false }
pin-project = "0.4"