[package]
name = "linkerd-http-box"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2021"
publish = false

[dependencies]
bytes = { workspace = true }
futures = { version = "0.3", default-features = false }
http = { workspace = true }
http-body = { workspace = true }
http-body-util = { workspace = true }
pin-project = "1"

linkerd-error = { path = "../../error" }
linkerd-stack = { path = "../../stack" }
