[package]
name = "linkerd-system"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false
description = """
Unsafe code for accessing system-level counters for memory & CPU usage.
"""

[dependencies]
tracing = "0.1"

[target.'cfg(target_os = "linux")'.dependencies]
libc = "0.2"
procinfo = "0.4.2"
