[package]
name = "linkerd2-app-integration"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
edition = "2018"
publish = false
description = """
Proxy integration tests

The test utilities can be very costly to compile, so they are extracted into
a dedicated crate to help the compiler cache dependencies properly.
"""

[features]
# Disable to skip certain tests that should not be run on CI.
flaky_tests = []

[dependencies]
bytes = "0.4"
futures = "0.1"
h2 = "0.1"
http = "0.1"
http-body = "0.1"
hyper = "0.12"
linkerd2-app = { path = ".." }
linkerd2-app-core = { path = "../core" }
linkerd2-metrics = { path = "../../metrics", features = ["test_util"] }
linkerd2-test-util = { path = "../../test-util" }
linkerd2-proxy-api = { git = "https://github.com/linkerd/linkerd2-proxy-api", features = ["arbitrary"], branch = "zd/auth_override" }
regex = "0.1"
net2 = "0.2"
quickcheck = { version = "0.9", default-features = false }
ring = "0.16"
rustls = "0.16"
tokio = "0.1.14"
tokio-connect = { git = "https://github.com/carllerche/tokio-connect" }
tokio-io = "0.1.6"
tokio-current-thread = "0.1.4"
tokio-rustls = "0.10"
tower = "0.1"
tower-grpc = { version = "0.1", default-features = false, features = ["protobuf"] }
tracing = "0.1.9"
tracing-futures = "0.1"
webpki = "0.21"

[dev-dependencies]
flate2 = { version = "1.0.1", default-features = false, features = ["rust_backend"] }
