[package]
name = "linkerd-app-integration"
version = { workspace = true }
authors = { workspace = true }
license = { workspace = true }
edition = { workspace = true }
publish = { workspace = true }
description = """
Proxy integration tests

The test utilities can be very costly to compile, so they are extracted into
a dedicated crate to help the compiler cache dependencies properly.
"""

[features]
default = []
flakey = []

[dependencies]
bytes = { workspace = true }
futures = { version = "0.3", default-features = false, features = ["executor"] }
h2 = { workspace = true }
http = { workspace = true }
http-body = { workspace = true }
http-body-util = { workspace = true }
hyper-util = { workspace = true, features = ["service"] }
ipnet = "2"
linkerd-app = { path = "..", features = ["allow-loopback"] }
linkerd-app-core = { path = "../core" }
linkerd-app-test = { path = "../test" }
linkerd-metrics = { path = "../../metrics", features = ["test_util"] }
linkerd-tracing = { path = "../../tracing" }
maplit = "1"
parking_lot = "0.12"
regex = "1"
rustls-pemfile = "2.2"
socket2 = "0.5"
tokio = { version = "1", features = ["io-util", "net", "rt", "macros"] }
tokio-rustls = { workspace = true }
tokio-stream = { version = "0.1", features = ["sync"] }
tonic = { workspace = true, features = ["transport"], default-features = false }
tower = { workspace = true, default-features = false }
tracing = { workspace = true }

[dependencies.hyper]
workspace = true
features = [
    "client",
    "http1",
    "http2",
    "server",
]

[dependencies.linkerd2-proxy-api]
workspace = true
features = [
    "arbitrary",
    "destination",
]

[dependencies.tracing-subscriber]
version = "0.3"
default-features = false
features = [
    "fmt",
    "std",
]

[dev-dependencies]
flate2 = { version = "1", default-features = false, features = [
    "rust_backend",
] }
# Log streaming isn't enabled by default globally, but we want to test it.
linkerd-app-admin = { path = "../admin", features = ["log-streaming"] }
# No code from this crate is actually used; only necessary to enable the Rustls
# implementation.
linkerd-meshtls = { path = "../../meshtls", features = ["rustls"] }
linkerd-tracing = { path = "../../tracing", features = ["ansi"] }
serde_json = "1"
