[package]
name = "linkerd-app-integration"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false
description = """
Proxy integration tests

The test utilities can be very costly to compile, so they are extracted into
a dedicated crate to help the compiler cache dependencies properly.
"""

[features]
# Disable to skip certain tests that should not be run on CI.
flaky_tests = []

[dependencies]
bytes = "1"
futures = "0.3.9"
h2 = "0.3"
http = "0.2"
http-body = "0.4"
hyper = { version = "0.14.2", features = ["http1", "http2", "stream", "client", "server"] }
linkerd-app = { path = "..", features = ["allow-loopback"] }
linkerd-app-core = { path = "../core" }
linkerd-metrics = { path = "../../metrics", features = ["test_util"] }
linkerd2-proxy-api = { git = "https://github.com/linkerd/linkerd2-proxy-api", tag = "v0.1.18", features = ["arbitrary"] }
linkerd-app-test = { path = "../test" }
regex = "1"
socket2 = "0.3.12"
rustls = "0.19"
tokio = { version = "1", features = ["io-util", "net", "rt", "macros"]}
tokio-stream = { version = "0.1.5", features = ["sync"] }
tokio-rustls = "0.22"
tower = { version = "0.4.7", default-features = false}
tonic = { version = "0.4", default-features = false }
tracing = "0.1.23"
webpki = "0.21"

[dependencies.tracing-subscriber]
version = "0.2.14"
# we don't need `chrono` time formatting or ANSI colored output
default-features = false
features = ["env-filter", "fmt", "smallvec", "tracing-log", "json", "parking_lot"]

[dev-dependencies]
flate2 = { version = "1.0.1", default-features = false, features = ["rust_backend"] }

[dev-dependencies.tracing-subscriber]
version = "0.2.14"
# turn on ANSI colors for tests :)
default-features = false
features = ["env-filter", "fmt", "smallvec", "ansi", "tracing-log", "json", "parking_lot"]
