[package]
name = "linkerd2-app-integration"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
edition = "2018"
publish = false
description = """
Proxy integration tests

The test utilities can be very costly to compile, so they are extracted into
a dedicated crate to help the compiler cache dependencies properly.
"""

[features]
# Disable to skip certain tests that should not be run on CI.
flaky_tests = []
# Enable to run tests for functionality that hasn't been ported to Tokio 0.2
nyi = []

[dependencies]
bytes_04 = { package = "bytes", version = "0.4"}
bytes = "0.5"
futures_01 = {package = "futures", version = "0.1"}
futures = { version = "0.3", features = ["compat"] }
h2 = "0.2"
http = "0.2"
http-body = "0.3"
http-body_01 = { package = "http-body", version = "0.1"}
http-01 = { package = "http", version = "0.1"}
hyper = "0.13"
hyper_012 = { package = "hyper", version = "0.12"}
linkerd2-app = { path = "..", features = ["mock-orig-dst"] }
linkerd2-app-core = { path = "../core", features = ["mock-orig-dst"] }
linkerd2-metrics = { path = "../../metrics", features = ["test_util"] }
linkerd2-test-util = { path = "../../test-util" }
linkerd2-proxy-api = { git = "https://github.com/linkerd/linkerd2-proxy-api", features = ["arbitrary"], tag = "v0.1.12" }
linkerd2-proxy-api-tonic = { package = "linkerd2-proxy-api", git = "https://github.com/linkerd/linkerd2-proxy-api", features = ["arbitrary"], rev = "c2dba642c7301b5b562c75fd6e2bd0a12ec763e8" }
regex = "0.1"
net2 = "0.2"
quickcheck = { version = "0.9", default-features = false }
ring = "0.16"
rustls = "0.17"
tokio = { version = "0.2", features = ["io-util", "net", "rt-core"]}
tokio_01 = { package = "tokio", version = "0.1"}
tokio-connect = { git = "https://github.com/carllerche/tokio-connect" }
tokio-rustls = "0.13"
tokio-compat = "0.1"
task-compat = "0.1"
tower = "0.3"
tower_01 = { package = "tower", version = "0.1" }
tower-grpc = { version = "0.1", default-features = false, features = ["protobuf"] }
tonic = { version = "0.2", default-features = false }
tracing = "0.1.9"
tracing-futures = "0.1"
tracing-subscriber = "0.2.5"
webpki = "=0.21.0"

[dev-dependencies]
flate2 = { version = "1.0.1", default-features = false, features = ["rust_backend"] }
