[package]
name = "linkerd2-app-integration"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
edition = "2018"
publish = false
description = """
Proxy integration tests

The test utilities can be very costly to compile, so they are extracted into
a dedicated crate to help the compiler cache dependencies properly.
"""

[features]
# Disable to skip certain tests that should not be run on CI.
flaky_tests = []
# Enable to run tests for functionality that hasn't been ported to Tokio 0.2
nyi = []

[dependencies]
bytes = "0.5"
futures = "0.3" 
h2 = "0.2.6"
http = "0.2"
http-body = "0.3"
hyper = "0.14.0-dev"
linkerd2-app = { path = "..", features = ["mock-orig-dst"] }
linkerd2-app-core = { path = "../core", features = ["mock-orig-dst"] }
linkerd2-metrics = { path = "../../metrics", features = ["test_util"] }
linkerd2-proxy-api = { git = "https://github.com/linkerd/linkerd2-proxy-api", tag = "v0.1.14", features = ["arbitrary"] }
linkerd2-app-test = { path = "../test" }
regex = "0.1"
socket2 = "0.3.12"
ring = "0.16"
rustls = "0.18"
tokio = { version = "0.3", features = ["io-util", "net", "rt", "macros"]}
tokio-rustls = "0.20"
tower = { version = "0.4", default-features = false}
tonic = { version = "0.3", default-features = false }
tracing = "0.1.19"
tracing-futures = { version = "0.2", features = ["std-future"] }
webpki = "0.21.0"

[dependencies.tracing-subscriber]
version = "0.2.14"
# we don't need `chrono` time formatting or ANSI colored output
default-features = false
features = ["env-filter", "fmt", "smallvec", "tracing-log", "json", "parking_lot"]

[dev-dependencies]
flate2 = { version = "1.0.1", default-features = false, features = ["rust_backend"] }

[dev-dependencies.tracing-subscriber]
version = "0.2.14"
# turn on ANSI colors for tests :)
default-features = false
features = ["env-filter", "fmt", "smallvec", "ansi", "tracing-log", "json", "parking_lot"]
