[package]
name = "linkerd-app-integration"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2021"
publish = false
description = """
Proxy integration tests

The test utilities can be very costly to compile, so they are extracted into
a dedicated crate to help the compiler cache dependencies properly.
"""

[features]
flaky_tests = [] # Disable to skip certain tests that should not be run on CI.
rustfmt = ["linkerd2-proxy-api/rustfmt"]

[dependencies]
bytes = "1"
futures = { version = "0.3", default-features = false, features = ["executor"] }
h2 = "0.3"
http = "0.2"
http-body = "0.4"
hyper = { version = "0.14.14", features = ["http1", "http2", "stream", "client", "server"] }
linkerd-app = { path = "..", features = ["allow-loopback"] }
linkerd-app-core = { path = "../core" }
linkerd-metrics = { path = "../../metrics", features = ["test_util"] }
linkerd2-proxy-api = { version = "0.3", features = ["destination", "arbitrary"] }
linkerd-app-test = { path = "../test" }
linkerd-tracing = { path = "../../tracing" }
regex = "1"
socket2 = "0.4"
tokio = { version = "1", features = ["io-util", "net", "rt", "macros"] }
tokio-stream = { version = "0.1.8", features = ["sync"] }
tokio-rustls = "0.23.1"
rustls-pemfile = "0.2.1"
tower = { version = "0.4.10", default-features = false }
tonic = { version = "0.6", default-features = false }
tracing = "0.1.29"
webpki = "0.22"
tracing-subscriber = { version = "0.3", default-features = false, features = ["fmt", "std"] }

[dev-dependencies]
flate2 = { version = "1.0.22", default-features = false, features = ["rust_backend"] }
linkerd-tracing = { path = "../../tracing", features = ["ansi"] }
