[package]
name = "linkerd2-service-profiles"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
edition = "2018"
publish = false
description = """
Implements client layers for Linkerd ServiceProfiles.
"""

[dependencies]
bytes = "0.5"
futures = "0.3"
http = "0.2"
http-body = "0.3"
indexmap = "1.0"
linkerd2-addr = { path  = "../addr" }
linkerd2-dns-name = { path  = "../dns/name" }
linkerd2-error = { path  = "../error" }
linkerd2-proxy-api = { git = "https://github.com/linkerd/linkerd2-proxy-api", tag = "v0.1.14" }
linkerd2-stack = { path  = "../stack" }
rand = { version = "0.7", features = ["small_rng"] }
regex = "1.0.0"
tokio = { version = "0.2", features = ["macros", "rt-core", "sync", "time"] }
tokio03 = { package = "tokio", version = "0.3", features = ["sync"] }
async-stream = "0.3"
tonic = { version = "0.3", default-features = false }
tracing = "0.1.19"
tracing-futures = { version = "0.2", features = ["std-future"] }
pin-project = "0.4"

[dependencies.tower]
version = "0.3"
# disable tower's tracing `log` integration for performance reasons, since we
# will consume tower's traces as traces.
default-features = false
features = [
    "util",
    "retry",
    "ready-cache",
]

[dev-dependencies]
linkerd2-proxy-api = { git = "https://github.com/linkerd/linkerd2-proxy-api", tag = "v0.1.14", features = ["arbitrary"] }
prost-types = "0.6.0"
quickcheck = { version = "0.9", default-features = false }
