[package]
name = "linkerd-service-profiles"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2021"
publish = false
description = """
Implements client layers for Linkerd ServiceProfiles.
"""

[dependencies]
bytes = "1"
futures = { version = "0.3", default-features = false }
http = "0.2"
http-body = "0.4"
linkerd2-proxy-api = { workspace = true, features = ["destination"] }
once_cell = "1.17"
prost-types = "0.12"
regex = "1"
tokio = { version = "1", features = ["macros", "rt", "sync", "time"] }
tokio-stream = { version = "0.1", features = ["sync"] }
tonic = { version = "0.12", default-features = false }
tower = { version = "0.4.13", features = ["retry", "util"] }
thiserror = "1"
tracing = "0.1"

linkerd-addr = { path = "../addr" }
linkerd-dns-name = { path = "../dns/name" }
linkerd-error = { path = "../error" }
linkerd-http-box = { path = "../http/box" }
linkerd-proxy-api-resolve = { path = "../proxy/api-resolve" }
linkerd-stack = { path = "../stack" }
linkerd-tonic-stream = { path = "../tonic-stream" }
linkerd-tonic-watch = { path = "../tonic-watch" }

[dev-dependencies]
linkerd2-proxy-api = { workspace = true, features = ["arbitrary"] }
quickcheck = { version = "1", default-features = false }
