[package]
name = "linkerd-service-profiles"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2021"
publish = false
description = """
Implements client layers for Linkerd ServiceProfiles.
"""

[features]
rustfmt = ["linkerd2-proxy-api/rustfmt"]

[dependencies]
bytes = "1"
futures = { version = "0.3", default-features = false }
http = "0.2"
http-body = "0.4"
indexmap = "1.7"
linkerd-addr = { path = "../addr" }
linkerd-dns-name = { path = "../dns/name" }
linkerd-error = { path = "../error" }
linkerd-http-box = { path = "../http-box" }
linkerd-proxy-api-resolve = { path = "../proxy/api-resolve" }
linkerd-stack = { path = "../stack" }
linkerd-tonic-watch = { path = "../tonic-watch" }
linkerd2-proxy-api = { version = "0.3", features = ["destination", "client"] }
rand = { version = "0.8", features = ["small_rng"] }
regex = "1.5.4"
tokio = { version = "1", features = ["macros", "rt", "sync", "time"] }
tokio-stream = { version = "0.1", features = ["sync"] }
tonic = { version = "0.6", default-features = false }
tower = { version = "0.4.11", features = [ "ready-cache", "retry", "util"] }
thiserror = "1"
tracing = "0.1.29"
pin-project = "1"

[dev-dependencies]
linkerd2-proxy-api = { version = "0.3", features = ["arbitrary"] }
prost-types = "0.9"
quickcheck = { version = "1", default-features = false }
