[package]
name = "hyper-balance"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false

[dependencies]
futures = "0.3.9"
http = "0.2"
hyper = "0.14.2"
pin-project = "1"
tower = { version = "0.4.5", default-features = false, features = ["load"] }
tokio = { version = "1", features = ["macros"] }

[dev-dependencies]
tokio-test = "0.4"
