[package]
name = "linkerd-http-prom"
version = { workspace = true }
authors = { workspace = true }
license = { workspace = true }
edition = { workspace = true }
publish = { workspace = true }
description = """
Tower middleware for Prometheus metrics.
"""

[features]
test-util = []

[dependencies]
bytes = { workspace = true }
futures = { version = "0.3", default-features = false }
http = { workspace = true }
http-body = { workspace = true }
parking_lot = "0.12"
pin-project = "1"
prometheus-client = { workspace = true }
thiserror = "2"
tokio = { version = "1", features = ["time"] }

linkerd-error = { path = "../../error" }
linkerd-http-box = { path = "../box" }
linkerd-metrics = { path = "../../metrics" }
linkerd-stack = { path = "../../stack" }
