[package]
name = "linkerd-stack"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false
description = """
Utilities for composing Tower services.
"""

[dependencies]
dyn-clone = "1.0.3"
futures = "0.3.9"
linkerd-error = { path = "../error" }
pin-project = "0.4"
tokio = { version = "1", features = ["time"] }
tracing = "0.1"

[dependencies.tower]
version = "0.4"
# disable tower's tracing `log` integration for performance reasons, since we
# will consume tower's traces as traces.
default-features = false
features = [
    "util",
]

[dev-dependencies]
tower-test = "0.4"
tokio-test = "0.4"
tracing-subscriber = "0.2.14"
tokio = { version = "1", features = ["rt-multi-thread", "time", "macros"] }
