[package]
name = "linkerd2-admit"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
edition = "2018"
publish = false

[dependencies]
futures = "0.3"
linkerd2-error = { path = "../error" }
tower = { version = "0.3", default-features = false, features = ["util"] }
tracing = "0.1.18"