[package]
name = "linkerd-proxy-client-policy"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2021"
publish = false

[features]
default = ["proto"]
proto = [
    "linkerd-http-route/proto",
    "linkerd2-proxy-api",
    "prost-types",
    "thiserror"
]

[dependencies]
ipnet = "2"
http = "0.2"
linkerd2-proxy-api = { version = "0.8", optional = true, features = ["outbound"] }
linkerd-addr = { path = "../../addr" }
linkerd-error = { path = "../../error" }
linkerd-http-route = { path = "../../http-route" }
linkerd-proxy-api-resolve = { path = "../api-resolve" }
linkerd-proxy-core = { path = "../core" }
prost-types = { version = "0.11", optional = true }
thiserror ={ version = "1", optional = true }
once_cell = "1"

[dev-dependencies]
maplit = "1"
quickcheck = { version = "1", default-features = false }
