[package]
name = "linkerd-proxy-client-policy"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2021"
publish = false

[features]
proto = [
    "linkerd-http-route/proto",
    "linkerd2-proxy-api",
    "prost-types",
    "thiserror",
]

[dependencies]
ahash = "0.8"
ipnet = "2"
http = "0.2"
once_cell = { version = "1" }
prost-types = { version = "0.12", optional = true }
tonic = { version = "0.12", default-features = false }
thiserror = { version = "1", optional = true }

linkerd-error = { path = "../../error" }
linkerd-exp-backoff = { path = "../../exp-backoff" }
linkerd-http-route = { path = "../../http/route" }
linkerd-proxy-api-resolve = { path = "../api-resolve" }
linkerd-proxy-core = { path = "../core" }

[dependencies.linkerd2-proxy-api]
workspace = true
optional = true
features = ["outbound"]

[dev-dependencies]
maplit = "1"
quickcheck = { version = "1", default-features = false }
