[package]
name = "linkerd-meshtls-rustls"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false

[features]
test-util = ["linkerd-tls-test-util"]

[dependencies]
futures = { version = "0.3", default-features = false }
linkerd-error = { path = "../../error" }
linkerd-io = { path = "../../io" }
linkerd-identity = { path = "../../identity" }
linkerd-stack = { path = "../../stack" }
linkerd-tls = { path = "../../tls" }
linkerd-tls-test-util = { path = "../../tls/test-util", optional = true }
ring = { version = "0.16.19", features = ["std"] }
thiserror = "1"
tokio = { version = "1", features = ["macros", "rt", "sync"] }
tokio-rustls = "0.23.1"
rustls = { version = "0.20", features = ["dangerous_configuration"] }
rustls-pemfile = "0.2"
tracing = "0.1"
webpki = "0.22"

[dev-dependencies]
linkerd-conditional = { path = "../../conditional" }
linkerd-proxy-transport = { path = "../../proxy/transport" }
linkerd-tls-test-util = { path = "../../tls/test-util" }
linkerd-tracing = { path = "../../tracing", features = ["ansi"] }
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
tower = { version = "0.4.10", default-features = false, features = ["util"] }
