[package]
name = "linkerd2-proxy-identity"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
edition = "2018"
publish = false

[dependencies]
futures = "0.3"
linkerd2-error = { path = "../../error" }
linkerd2-identity = { path = "../../identity" }
linkerd2-proxy-api = { git = "https://github.com/linkerd/linkerd2-proxy-api", branch = "eliza/tokio-0.3" }
linkerd2-proxy-transport = { path = "../transport" }
tokio = { version = "0.3", features = ["time", "sync"] }
tonic = { version = "0.3", default-features = false }
tracing = "0.1.22"
http-body = "0.4"
pin-project = "0.4"
