[package]
name = "linkerd-stack-metrics"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false

[dependencies]
linkerd-metrics = { path = "../../metrics" }
parking_lot = "0.11"
tower = { version = "0.4.8", default-features = false }
tokio = { version = "1", features = ["time"] }
