[package]
name = "linkerd2-stack-metrics"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
edition = "2018"
publish = false

[dependencies]
indexmap = "1.0"
linkerd2-metrics = { path  = "../../metrics" }
tower = { version = "0.4.1", default-features = false }