[package]
name = "linkerd-identity"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2021"
publish = false

[dependencies]
linkerd-dns-name = { path = "../dns/name" }
linkerd-error = { path = "../error" }
