[package]
name = "linkerd-http-classify"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2021"
publish = false

[dependencies]
http = "0.2"
linkerd-error = { path = "../error" }
linkerd-stack = { path = "../stack" }
tower = { version = "0.4", default-features = false }
