[package]
name = "linkerd2-stack-tracing"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
edition = "2018"
publish = false

[dependencies]
futures = "0.3"
linkerd2-error = { path = "../../error" }
linkerd2-stack = { path = ".." }
tracing = "0.1.19"
tracing-futures = { version = "0.2", features = ["std-future"] }
pin-project = "0.4"

[dependencies.tower]
version = "0.4"
# disable tower's tracing `log` integration for performance reasons, since we
# will consume tower's traces as traces.
default-features = false