[package]
name = "linkerd-stack-tracing"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false

[dependencies]
futures = "0.3.9"
linkerd-error = { path = "../../error" }
linkerd-stack = { path = ".." }
tracing = "0.1.25"
pin-project = "1"

[dependencies.tower]
version = "0.4"
# disable tower's tracing `log` integration for performance reasons, since we
# will consume tower's traces as traces.
default-features = false
