[package]
name = "linkerd-http-box"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false

[dependencies]
bytes = "1"
futures = { version = "0.3", default-features = false }
http = "0.2"
http-body = "0.4"
linkerd-error = { path = "../error" }
linkerd-stack = { path = "../stack" }
tower = {version = "0.4", default-features = false }
pin-project = "1"
