[package]
name = "linkerd-app-outbound"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false
description = """
Configures and runs the outbound proxy
"""

[features]
default = []
allow-loopback = []
test-subscriber = []

[dependencies]
bytes = "1"
http = "0.2"
futures = "0.3.9"
indexmap = "1.0"
linkerd-app-core = { path = "../core" }
linkerd-identity = { path = "../../identity" }
linkerd-retry = { path = "../../retry" }
thiserror = "1.0"
tokio = { version = "1", features = ["sync"] }
tower = { version = "0.4.7", features = ["util"] }
tracing = "0.1.23"
pin-project = "1"

[dev-dependencies]
hyper = { version = "0.14.2", features = ["http1", "http2"] }
ipnet = "2.0"
linkerd-app-test = { path = "../test" }
linkerd-io = { path = "../../io", features = ["tokio-test"] }
tokio = { version = "1", features = ["full", "macros"] }
tokio-test = "0.4"
linkerd-tracing = { path = "../../tracing", features = ["ansi"] }
