[package]
name = "linkerd2-test-util"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
edition = "2018"
publish = false

[dependencies]
futures = "0.3"
tokio = { version = "0.2", features = ["rt-core", "time"] }
