[package]
name = "linkerd-http-retry"
version = { workspace = true }
authors = { workspace = true }
license = { workspace = true }
edition = { workspace = true }
publish = { workspace = true }

[dependencies]
bytes = { workspace = true }
futures = { version = "0.3", default-features = false }
http-body = { workspace = true }
http-body-util = { workspace = true }
http = { workspace = true }
parking_lot = "0.12"
pin-project = "1"
tokio = { version = "1", features = ["macros", "rt"] }
tower = { workspace = true, features = ["retry"] }
tracing = "0.1"
thiserror = "2"

linkerd-http-box = { path = "../box" }
linkerd-error = { path = "../../error" }
linkerd-exp-backoff = { path = "../../exp-backoff" }
linkerd-http-body-compat = { path = "../body-compat" }
linkerd-metrics = { path = "../../metrics" }
linkerd-stack = { path = "../../stack" }

[dev-dependencies]
hyper = { workspace = true }
linkerd-tracing = { path = "../../tracing", features = ["ansi"] }
linkerd-mock-http-body = { path = "../../mock/http-body" }
tokio = { version = "1", features = ["macros", "rt"] }
