[package]
name = "linkerd2-transport-header"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false

[dependencies]
async-trait = "0.1"
bytes = "1"
linkerd2-dns-name = { version = "0.1", path = "../dns/name" }
linkerd2-error = { version = "0.1", path = "../error" }
linkerd2-io = { version = "0.1", path = "../io" }
linkerd2-proxy-transport = { version = "0.1", path = "../proxy/transport" }
prost = "0.7"
tracing = "0.1"

[build-dependencies]
prost-build = { version = "0.7", default-features = false }

[dev-dependencies]
tokio = { version = "1", features = ["macros"] }
tokio-test = "0.4"
