[package]
name = "linkerd-transport-header"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2021"
publish = false

[dependencies]
async-trait = "0.1"
bytes = { workspace = true }
futures = { version = "0.3", default-features = false }
linkerd-dns-name = { path = "../dns/name" }
linkerd-error = { path = "../error" }
linkerd-io = { path = "../io" }
linkerd-stack = { path = "../stack" }
prost = { workspace = true }
tokio = { version = "1", features = ["time"] }
tracing = "0.1"

[target.'cfg(fuzzing)'.dependencies]
arbitrary = { version = "1", features = ["derive"] }
libfuzzer-sys = { version = "0.4", features = ["arbitrary-derive"] }

[dev-dependencies]
prost-build = { version = "0.13", default-features = false }
tokio = { version = "1", features = ["macros"] }
tokio-test = "0.4"

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(fuzzing)'] }
