[package]
name = "linkerd-trace-context"
version = { workspace = true }
authors = { workspace = true }
license = { workspace = true }
edition = { workspace = true }
publish = { workspace = true }

[dependencies]
base64 = "0.22"
bytes = { workspace = true }
const_format = "0.2"
futures = { version = "0.3", default-features = false }
hex = "0.4"
http = { workspace = true }
linkerd-error = { path = "../error" }
linkerd-stack = { path = "../stack" }
opentelemetry = { version = "0.31", default-features = false, features = ["trace"] }
opentelemetry_sdk = { version = "0.31", default-features = false, features = ["trace"] }
opentelemetry-http = { version = "0.31", default-features = false }
opentelemetry-semantic-conventions = { version = "0.31", default-features = false, features = ["semconv_experimental"] }
rand = "0.9"
thiserror = "2"
tower = { workspace = true, default-features = false, features = ["util"] }
tracing = { workspace = true }

[dev-dependencies]
linkerd-app-core = { path = "../app/core" }
linkerd-http-box = { path = "../http/box" }
linkerd-io = { path = "../io" }
linkerd-tracing = { path = "../tracing" }
linkerd-opentelemetry = { path = "../opentelemetry" }
tokio = { version = "1", features = ["test-util"] }
tower-test = { workspace = true }
