[package]
name = "linkerd2-reconnect"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false

[dependencies]
linkerd2-error = { version = "0.1", path = "../error" }
linkerd2-stack = { version = "0.1", path = "../stack" }
futures = "0.3"
tower = { version = "0.4.1", default-features = false }
tracing = "0.1.22"
pin-project = "0.4"
