[package]
name = "linkerd2-reconnect"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
edition = "2018"
publish = false

[dependencies]
linkerd2-error = { path = "../error" }
futures = "0.1"
tower = "0.1"
tracing = "0.1"
