[package]
name = "linkerd-reconnect"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2021"
publish = false

[dependencies]
linkerd-error = { path = "../error" }
linkerd-stack = { path = "../stack" }
futures = { version = "0.3", default-features = false }
tower = { version = "0.4.13", default-features = false }
tracing = "0.1"
pin-project = "1"

[dev-dependencies]
linkerd-tracing = { path = "../tracing" }
tokio = { version = "1", features = ["macros", "rt", "time"] }
tokio-stream = { version = "0.1", features = ["time"] }
tokio-test = "0.4"
tower-test = "0.4"
