[package]
name = "linkerd-reconnect"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false

[dependencies]
linkerd-error = { path = "../error" }
linkerd-stack = { path = "../stack" }
futures = "0.3.9"
tower = { version = "0.4.5", default-features = false }
tracing = "0.1.23"
pin-project = "1"
