[package]
name = "linkerd2-proxy-transport"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
edition = "2018"
publish = false
description = """
Transport-level implementations that rely on core proxy infrastructure

This should probably be decomposed into smaller, decoupled crates.
"""

[features]
mock-orig-dst  = []

[dependencies]
async-stream = "0.2.1"
bytes = "0.5"
futures = "0.3"
indexmap = "1.0.0"
linkerd2-conditional = { path = "../../conditional" }
linkerd2-dns-name = { path = "../../dns/name" }
linkerd2-errno = { path = "../../errno" }
linkerd2-error = { path = "../../error" }
linkerd2-identity = { path = "../../identity" }
linkerd2-io = { path = "../../io" }
linkerd2-metrics = { path = "../../metrics" }
linkerd2-stack = { path = "../../stack" }
ring = "0.16"
rustls = "0.17"
tokio = { version = "0.2", features = ["net", "io-util"]}
tokio-rustls = "0.13"
tracing = "0.1.19"
webpki = "0.21"
untrusted = "0.7"
pin-project = "0.4"
tokio-util = { version = "0.3", features = ["compat"]}

[dependencies.tower]
version = "0.3"
# disable tower's tracing `log` integration for performance reasons, since we
# will consume tower's traces as traces.
default-features = false
features = ["make"]


[target.'cfg(target_os = "linux")'.dependencies]
libc = "0.2"

[dev-dependencies]
linkerd2-identity = { path = "../../identity", features = ["test-util"] }
tracing-subscriber = "0.2.11"
tower = { version = "0.3", default-features = false, features = ["util"] }
tracing-futures = { version = "0.2", features = ["std-future"] }
