[package]
name = "linkerd-proxy-transport"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false
description = """
Transport-level implementations that rely on core proxy infrastructure
"""

[dependencies]
futures = { version = "0.3", default-features = false }
linkerd-io = { path = "../../io" }
linkerd-stack = { path = "../../stack" }
socket2 = "0.4"
tokio = { version = "1", features = ["macros", "net"] }
tokio-stream = { version = "0.1", features = ["net"] }
tracing = "0.1.29"

[target.'cfg(target_os = "linux")'.dependencies]
libc = "0.2"
