[package]
name = "linkerd2-proxy-transport"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
edition = "2018"
publish = false
description = """
Transport-level implementations that rely on core proxy infrastructure

This should probably be decomposed into smaller, decoupled crates.
"""

[dependencies]
bytes = "0.4"
futures = "0.1"
indexmap = "1.0.0"
linkerd2-conditional = { path = "../../conditional" }
linkerd2-dns-name = { path = "../../dns/name" }
linkerd2-error = { path = "../../error" }
linkerd2-identity = { path = "../../identity" }
linkerd2-io = { path = "../../io" }
linkerd2-metrics = { path = "../../metrics" }
linkerd2-proxy-core = { path = "../core" }
ring = "0.16"
rustls = "0.16"
tokio = "0.1.14"
tokio-rustls = "0.10"
tower = "0.1"
tracing = "0.1.9"
webpki = "0.21"
untrusted = "0.7"

[target.'cfg(target_os = "linux")'.dependencies]
libc = "0.2"

[dev-dependencies]
linkerd2-identity = { path = "../../identity", features = ["test-util"] }
tower-util = "0.1"
tracing-subscriber = "0.2.0-alpha.6"
