[package]
name = "linkerd-error-respond"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false


[dependencies]
futures = "0.3.9"
linkerd-error = { path = "../error" }
tower = { version = "0.4.5", default-features = false }
pin-project = "1"
