[package]
name = "linkerd-duplex"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false

[dependencies]
bytes = "1"
futures = { version = "0.3", default-features = false }
tokio = { version = "1", features = ["io-util"] }
pin-project = "1"
tracing = "0.1.26"
linkerd-io = { path = "../io" }
