[package]
name = "linkerd-proxy-core"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2021"
publish = false
description = """
Core interfaces needed to implement proxy components
"""

[dependencies]
futures = { version = "0.3", default-features = false }
linkerd-error = { path = "../../error" }
tower = { version = "0.4.11", default-features = false }
