[package]
name = "linkerd2-retry"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
edition = "2018"
publish = false

[dependencies]
linkerd2-error = { path  = "../error" }
linkerd2-stack = { path  = "../stack" }
tower = { version = "0.4.1", default-features = false, features = ["retry", "util"] }
tracing = "0.1.22"
pin-project = "0.4"
