[package]
name = "linkerd-retry"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false

[dependencies]
linkerd-error = { path = "../error" }
linkerd-stack = { path = "../stack" }
tower = { version = "0.4.7", default-features = false, features = ["retry", "util"] }
tracing = "0.1.23"
pin-project = "1"
bytes = "1"
http-body = "0.4"
http = "0.2"
futures = { version = "0.3", default-features = false }

[dev-dependencies]
tokio = { version = "1", features = ["macros", "rt"]}
hyper = "0.14"
linkerd-tracing = { path = "../tracing", features = ["ansi"] }
