[package]
name = "linkerd-proxy-tcp"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false


[dependencies]
futures = { version = "0.3", default-features = false }
linkerd-duplex = { path = "../../duplex" }
linkerd-error = { path = "../../error" }
linkerd-stack = { path = "../../stack" }
rand = "0.8"
tokio = { version = "1" }
tower = { version = "0.4.10", default-features = false, features = ["balance", "load", "discover"] }
pin-project = "1"
