[package]
name = "linkerd-proxy-tcp"
version = { workspace = true }
authors = { workspace = true }
license = { workspace = true }
edition = { workspace = true }
publish = { workspace = true }

[dependencies]
futures = { version = "0.3", default-features = false }
linkerd-duplex = { path = "../../duplex" }
linkerd-error = { path = "../../error" }
linkerd-proxy-balance = { path = "../../proxy/balance" }
linkerd-stack = { path = "../../stack" }
rand = "0.9"
tokio = { version = "1" }
tower = { workspace = true, default-features = false }
pin-project = "1"
