[package]
name = "linkerd2-proxy-tcp"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
edition = "2018"
publish = false


[dependencies]
futures = { version = "0.3", features = ["compat"] }
linkerd2-duplex = { path = "../../duplex" }
linkerd2-error = { path = "../../error" }
linkerd2-stack = { path = "../../stack" }
rand = { version = "0.7", features = ["small_rng"] }
tokio = { version = "0.3" }
tower = { version = "0.4", default-features = false, features = ["balance", "load", "discover"] }
pin-project = "0.4"
