name: Actions

on:
  pull_request:
    paths:
      - .devcontainer/devcontainer.json
      - .github/workflows/**

permissions:
  contents: read

jobs:
  actionlint:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    steps:
      - uses: linkerd/dev/actions/setup-tools@v38
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
      - run: just action-lint

  devcontainer-versions:
    runs-on: ubuntu-latest
    steps:
      - uses: linkerd/dev/actions/setup-tools@v38
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
      - run: just action-dev-check
