# Builds the proxy on the beta toolchain to help catch Rust regressions before they hit stable.
name: rust-beta

on:
  pull_request:
    paths:
      - .github/workflows/beta.yml
  schedule:
    # Run weekly on wednesday @ midnightish Pacific-time.
    - cron: "30 7 * * 3"

env:
  CARGO_ACTION_FMT_VERSION: v0.1.3
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUST_BACKTRACE: short
  RUSTUP_MAX_RETRIES: 10

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: docker://rust:1.56.1-buster
    timeout-minutes: 20
    continue-on-error: true
    steps:
      - run: |
          curl --proto =https --tlsv1.3 -vsSfLo /usr/local/bin/cargo-action-fmt "https://github.com/olix0r/cargo-action-fmt/releases/download/release%2F${CARGO_ACTION_FMT_VERSION}/cargo-action-fmt-x86_64-unknown-linux-gnu"
          chmod 755 /usr/local/bin/cargo-action-fmt
      - run: rustup toolchain install --profile=minimal beta
      - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
      - run: cargo +beta fetch
      - run: cargo +beta build --release -p linkerd2-proxy --message-format=json | cargo-action-fmt
