# Builds the proxy on the beta toolchain to help catch Rust regressions before they hit stable.
name: rust-beta

on:
  pull_request:
    paths:
      - justfile
      - .github/workflows/beta.yml
  schedule:
    # Run weekly on wednesday @ midnightish Pacific-time.
    - cron: "30 7 * * 3"

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10
  RUSTFLAGS: "-D warnings"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/linkerd/dev:v38-rust
    timeout-minutes: 20
    continue-on-error: true
    steps:
      - run: rustup toolchain install --profile=minimal beta
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
      - run: just toolchain=beta fetch
      - run: just toolchain=beta build
