# Builds the proxy as if it were a release.
name: build

permissions:
  contents: read

on:
  pull_request:
    paths:
      # We don't run this workflow on dependency changes. It's mainly intended to determine how long
      # a release build takes given Linkerd changes. We don't really need to run this on every
      # dependabot change, though.
      - "**/*.rs"
      - .github/workflows/build.yml

env:
  CARGO_ACTION_FMT_VERSION: v0.1.3
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  PROTOC_NO_VENDOR: 1
  RUST_BACKTRACE: short
  RUSTUP_MAX_RETRIES: 10

jobs:
  release:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - run: |
          curl --proto =https --tlsv1.3 -vsSfLo /usr/local/bin/cargo-action-fmt "https://github.com/olix0r/cargo-action-fmt/releases/download/release%2F${CARGO_ACTION_FMT_VERSION}/cargo-action-fmt-x86_64-unknown-linux-gnu"
          chmod 755 /usr/local/bin/cargo-action-fmt
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846
      - uses: ./.github/actions/install-protoc
      - run: cargo fetch
      - run: cargo build --release -p linkerd2-proxy --message-format=json | cargo-action-fmt
