# Check each crate independently. Helps to catch dependency issues.
#
# Code changes are exercised via the `test` and `lint` workflows. This workflow just checks that
# each crate's `Cargo.toml` is configured sufficiently so that each crate can be compiled on its
# own.
name: check-each

permissions:
  contents: read

on:
  pull_request:
    paths:
      - "**/Cargo.toml"
      - "**/*.rs"
      - .github/actions/list-changed-crates/*
      - .github/workflows/check-each.yml
      - justfile

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10
  RUSTFLAGS: "-D warnings -A deprecated"

jobs:
  list-changed-crates:
    timeout-minutes: 3
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - uses: tj-actions/changed-files@4f64429e8be26fe81a594635b07ed829581ea847
        id: changed-files
        with:
          files: |
            **/Cargo.toml
            **/*.rs
            .github/actions/list-changed-crates/*
            .github/workflows/check-each.yml
      - name: List changed crates
        id: list-changed
        uses: ./.github/actions/list-changed-crates
        with:
          files: ${{ steps.changed-files.outputs.all_changed_files }}
    outputs:
      crates: ${{ steps.list-changed.outputs.crates }}

  check-each:
    needs: list-changed-crates
    timeout-minutes: 20
    runs-on: ubuntu-latest
    container: ghcr.io/linkerd/dev:v38-rust
    strategy:
      matrix:
        crate: ${{ fromJson(needs.list-changed-crates.outputs.crates) }}
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - run: just fetch
      - run: just check-crate ${{ matrix.crate }}

