name: check

on:
  pull_request: {}

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUST_BACKTRACE: short
  RUSTUP_MAX_RETRIES: 10

permissions:
  contents: read

jobs:

  # Linting
  check-clippy:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container:
      image: docker://rust:1.56.0-buster
    steps:
      - run: apt update && apt install -y cmake clang golang
      - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
      - run: rustup component add clippy
      - run: make lint

  # Iterate through all (non-fuzzer) sub-crates to ensure each compiles independently.
  check-each-crate:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    container:
      image: docker://rust:1.56.0-buster
    steps:
      - run: apt update && apt install -y cmake clang golang
      - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
      - run: |
          for d in $(for toml in $(find . -mindepth 2 -name Cargo.toml -not -path '*/fuzz/*') ; do echo ${toml%/*} ; done | sort -r ) ; do
            echo "# $d"
            (cd $d ; cargo check --all-targets)
          done

  # Enforce automated formatting.
  check-fmt:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container:
      image: docker://rust:1.56.0-buster
    steps:
      - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
      - run: rustup component add rustfmt
      - run: make check-fmt

  # Generate docs
  check-docs:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
      - run: cargo doc
