# Check each crate independently. Helps to catch dependency issues.
#
# Code changes are exercised via the `test` and `lint` workflows. This workflow just checks that
# each crate's `Cargo.toml` is configured sufficiently so that each crate can be compiled on its
# own.
name: check-each

permissions:
  contents: read

on:
  pull_request:
    paths:
      - "**/Cargo.toml"
      - .github/workflows/check-each.yml

env:
  CARGO_ACTION_FMT_VERSION: v0.1.3
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  DEBIAN_FRONTEND: noninteractive
  RUST_BACKTRACE: short
  RUSTUP_MAX_RETRIES: 10

jobs:
  list-changed-crates:
    timeout-minutes: 3
    runs-on: ubuntu-latest
    container:
      image: docker://rust:1.59.0-buster
    steps:
      - run: apt update && apt install -y jq
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846
      - run: cargo fetch
      - uses: tj-actions/changed-files@e35d0afdc1f0b01f84ec0f4cdf1b179325634b36
        id: changed-files
        with:
          files: |
            - Cargo.toml
            - "**/Cargo.toml"
            - "**/*.rs"
            - .github/workflows/check-each.yml
      - name: list changed crates
        id: list-changed
        run: |
          files="${{ steps.changed-files.outputs.all_changed_files }}"
          # Find the nearest Cargo.toml (except the root).
          find_manifest() {
            p=$(dirname "$1")
            if [ -f "$p/Cargo.toml" ]; then
              realpath "$p/Cargo.toml"
            else
              find_manifest "$p"
            fi
          }
          # Build an expression to match all changed manifests.
          manifest_expr() {
            expr="false"
            for file in $(echo $*) ; do
              # If the workflow changes or root Cargo.toml changes, run checks for all crates in the repo.
              if [ "$file" = .github/workflows/check-each.yml ] || [ "$file" = "$PWD/Cargo.toml" ]; then
                expr="startswith(\"$PWD\")"
                break
              fi
              # Otherwise, only run checks for changes to subcrates (and not the top-level crate).
              m=$(find_manifest "$file")
              if [ "$m" != "$PWD/Cargo.toml" ]; then
                expr="$expr or (. == \"$m\")"
              fi
            done
            echo "$expr"
          }
          # Get the crate names for all changed manifest direcotires
          crates=$(cargo metadata --frozen --format-version=1 \
            | jq -cr "[.packages[] | select(.manifest_path | $(manifest_expr $files)) | .name]")
          echo "::set-output name=crates::$crates"
    outputs:
      crates: ${{ steps.list-changed.outputs.crates }}

  check-each:
    needs: list-changed-crates
    timeout-minutes: 20
    runs-on: ubuntu-latest
    container:
      image: docker://rust:1.59.0-buster
    strategy:
      matrix:
        crate: ${{ fromJson(needs.list-changed-crates.outputs.crates) }}
    steps:
      - run: |
          curl --proto =https --tlsv1.3 -vsSfLo /usr/local/bin/cargo-action-fmt "https://github.com/olix0r/cargo-action-fmt/releases/download/release%2F${CARGO_ACTION_FMT_VERSION}/cargo-action-fmt-x86_64-unknown-linux-gnu"
          chmod 755 /usr/local/bin/cargo-action-fmt
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846
      - run: cargo fetch
      - run: cargo check -p ${{ matrix.crate }} --frozen --all-targets --message-format=json | cargo-action-fmt

