# Check each crate independently. Helps to catch dependency issues.
#
# Code changes are exercised via the `test` and `lint` workflows. This workflow just checks that
# each crate's `Cargo.toml` is configured sufficiently so that each crate can be compiled on its
# own.
name: check-each

permissions:
  contents: read

on:
  pull_request:
    paths:
      - "**/Cargo.toml"
      - "**/*.rs"
      - .github/actions/list-changed-crates/*
      - .github/workflows/check-each.yml
      - justfile

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10
  RUSTFLAGS: "-D warnings -A deprecated"

jobs:
  list-changed-crates:
    timeout-minutes: 3
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - uses: tj-actions/changed-files@b2ee165d6b42ab1740e1037eb93748aad96767c5
        id: changed-files
        with:
          files: |
            **/Cargo.toml
            **/*.rs
            .github/actions/list-changed-crates/*
            .github/workflows/check-each.yml
      - name: List changed crates
        id: list-changed
        uses: ./.github/actions/list-changed-crates
        with:
          files: ${{ steps.changed-files.outputs.all_changed_files }}
    outputs:
      crates: ${{ steps.list-changed.outputs.crates }}

  check-each:
    needs: list-changed-crates
    timeout-minutes: 20
    runs-on: ubuntu-latest
    container:
      image: docker://rust:1.62.0-bullseye
    strategy:
      matrix:
        crate: ${{ fromJson(needs.list-changed-crates.outputs.crates) }}
    steps:
      - uses: extractions/setup-just@aa5d15c144db4585980a44ebfdd2cf337c4f14cb
      - uses: olix0r/cargo-action-fmt@ee1ef42932e44794821dab57ef1bf7a73df8b21f
      - name: Install meshtls-boring build deps
        if: matrix.crate == 'linkerd-meshtls-boring'
        run: apt update && apt install -y clang cmake
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - name: Install protoc
        if: matrix.crate == 'linkerd-transport-header' || matrix.crate == 'opencensus-proto'
        uses: ./.github/actions/install-protoc
      - run: just fetch
      - run: just check-crate ${{ matrix.crate }}

