# Check all crates.
#
# This workflow checks that `Cargo.lock` is configured sufficiently so that each
# crate can be compiled on its
# own.
name: check-all

permissions:
  contents: read

on:
  pull_request:
    paths:
      - Cargo.lock
      - .github/workflows/check-all.yml

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10
  RUSTFLAGS: "-D warnings -A deprecated"

jobs:
  check-all:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    container:
      image: docker://rust:1.60.0-bullseye
    steps:
      - uses: extractions/setup-just@aa5d15c144db4585980a44ebfdd2cf337c4f14cb
      - uses: olix0r/cargo-action-fmt@ee1ef42932e44794821dab57ef1bf7a73df8b21f
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - uses: ./.github/actions/install-protoc
      - run: just fetch
      - run: just check --exclude=linkerd-meshtls-boring
