name: Coverage

on:
  push:
    branches: [main]
  pull_request: {}

jobs:
  test:
    if: |
      !startsWith(github.event.pull_request.title, 'build(deps): ')
    name: codecov
    runs-on: ubuntu-latest
    timeout-minutes: 30
    container:
      image: docker://rust:1.52.1-buster
      options: --security-opt seccomp=unconfined
    steps:
    - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
    - run: cargo install cargo-tarpaulin
    - run: cargo tarpaulin --verbose --workspace --out Xml
    - uses: codecov/codecov-action@29386c70ef20e286228c72b668a06fd0e8399192
