name: Coverage

on:
  pull_request: {}

jobs:
  test:
    name: codecov
    runs-on: ubuntu-latest
    timeout-minutes: 15
    container:
      image: docker://rust:1.52.1-buster
      options: --security-opt seccomp=unconfined
    steps:
    - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # v2.3.4
    - run: cargo install cargo-tarpaulin
    - run: cargo tarpaulin --verbose --workspace --out Xml
    - uses: codecov/codecov-action@29386c70ef20e286228c72b668a06fd0e8399192 # v1.5.2
