# Audits dependencies with cargo-deny
name: deps

permissions:
  contents: read

on:
  pull_request:
    paths:
      - Cargo.lock
      - .github/workflows/deps.yml
      - justfile

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUSTFLAGS: "-D warnings -A deprecated"
  RUSTUP_MAX_RETRIES: 10

jobs:
  # Check for security advisories.
  #
  # Failures are not fatal, since issues are opened in the linkerd2 repo via rustsecbot.
  advisories:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
    - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
    - uses: EmbarkStudios/cargo-deny-action@30ecad1d5873c1cc2cad10a33637371ca094768b
      with:
        command: check advisories

  # Audit licenses, unreleased crates, and unexpected duplicate versions.
  bans:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
    - uses: EmbarkStudios/cargo-deny-action@30ecad1d5873c1cc2cad10a33637371ca094768b
      with:
        command: check bans licenses sources

  # Check for upstream deprecations
  deprecated:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    container:
      image: docker://rust:1.60.0-bullseye
    steps:
      - uses: extractions/setup-just@aa5d15c144db4585980a44ebfdd2cf337c4f14cb
      - uses: olix0r/cargo-action-fmt@ee1ef42932e44794821dab57ef1bf7a73df8b21f
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - uses: ./.github/actions/install-protoc
      - run: just fetch
      - run: just RUSTFLAGS="-D deprecated" check --exclude=linkerd-meshtls-boring

