name: docker

on:
  pull_request:
    paths:
      - Dockerfile
      - rust-toolchain
      - justfile
      - .github/workflows/docker.yml

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: linkerd/dev/actions/setup-tools@v38
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
      - run: just docker
