name: fuzzers

on:
  # Only run on PRs that touch fuzzed crates
  pull_request:
    paths:
      - 'linkerd/addr/**'
      - 'linkerd/app/inbound/**'
      - 'linkerd/dns/**'
      - 'linkerd/proxy/http/**'
      - 'linkerd/tls/**'
      - 'linkerd/transport-header/**'
      - .github/workflows/fuzzers.yml
      - .github/fuzzers-list.sh

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUST_BACKTRACE: short
  RUSTFLAGS: "-D warnings -A deprecated -C debuginfo=0"
  RUSTUP_MAX_RETRIES: 10

permissions:
  contents: read

jobs:
  list-changed:
    timeout-minutes: 3
    runs-on: ubuntu-latest
    container: docker://rust:1.76.0
    steps:
      - run: apt update && apt install -y jo
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29
      - run: git config --global --add safe.directory "$PWD" # actions/runner#2033
      - uses: tj-actions/changed-files@a29e8b565651ce417abb5db7164b4a2ad8b6155c
        id: changed-files
      - name: list changed crates
        id: list-changed
        shell: bash
        run: |
          dirs=$(.github/fuzzers-list.sh ${{ steps.changed-files.outputs.all_changed_files }} | jo -a)
          echo "dirs=$dirs" >> "$GITHUB_OUTPUT"
    outputs:
      dirs: ${{ steps.list-changed.outputs.dirs }}

  # Build fuzzers for any changed crates.
  build:
    needs: [list-changed]
    timeout-minutes: 40
    runs-on: ubuntu-latest
    container: docker://rust:1.76.0
    strategy:
      matrix:
        dir: ${{ fromJson(needs.list-changed.outputs.dirs) }}
    steps:
      - run: rustup toolchain add nightly
      - run: cargo install cargo-fuzz
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29
      - run: git config --global --add safe.directory "$PWD" # actions/runner#2033
      - working-directory: ${{matrix.dir}}
        run: cargo +nightly fetch
      - working-directory: ${{matrix.dir}}
        run: cargo +nightly fuzz build
