name: fuzzers

on:
  # Only run on PRs that touch fuzzed crates
  pull_request:
    paths:
      - 'linkerd/addr/**'
      - 'linkerd/app/inbound/**'
      - 'linkerd/dns/**'
      - 'linkerd/proxy/http/**'
      - 'linkerd/tls/**'
      - 'linkerd/transport-header/**'
      - .github/workflows/fuzzers.yml
      - .github/fuzzers-list.sh

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUST_BACKTRACE: short
  RUSTFLAGS: "-D warnings -A deprecated"
  RUSTUP_MAX_RETRIES: 10

permissions:
  contents: read

jobs:
  list-changed:
    timeout-minutes: 3
    runs-on: ubuntu-latest
    container: docker://rust:1.64.0-bullseye
    steps:
      - run: apt update && apt install -y jo
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
      - uses: tj-actions/changed-files@392359fc8c85be1a8752e9ab6b1ad9e45158b4a9
        id: changed-files
      - name: list changed crates
        id: list-changed
        shell: bash
        run: |
          dirs=$(.github/fuzzers-list.sh ${{ steps.changed-files.outputs.all_changed_files }} | jo -a)
          echo "dirs=$dirs" >> "$GITHUB_OUTPUT"
    outputs:
      dirs: ${{ steps.list-changed.outputs.dirs }}

  # Build fuzzers for any changed crates.
  build:
    needs: [list-changed]
    timeout-minutes: 40
    runs-on: ubuntu-latest
    container: docker://rust:1.64.0-bullseye
    strategy:
      matrix:
        dir: ${{ fromJson(needs.list-changed.outputs.dirs) }}
    steps:
      - run: rustup toolchain add nightly
      - run: cargo install cargo-fuzz
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
      - working-directory: ${{matrix.dir}}
        run: cargo +nightly fetch
      - working-directory: ${{matrix.dir}}
        run: cargo +nightly fuzz build
