name: fuzzers

on:
  # Only run on PRs that touch fuzzed crates
  pull_request:
    paths:
      - 'linkerd/addr/**'
      - 'linkerd/app/inbound/**'
      - 'linkerd/dns/**'
      - 'linkerd/proxy/http/**'
      - 'linkerd/tls/**'
      - 'linkerd/transport-header/**'
      - .github/workflows/fuzzers.yml
      - .github/fuzzers-list.sh

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUST_BACKTRACE: short
  RUSTFLAGS: "-D warnings -A deprecated"
  RUSTUP_MAX_RETRIES: 10

permissions:
  contents: read

jobs:
  list-changed:
    timeout-minutes: 3
    runs-on: ubuntu-latest
    container:
      image: docker://rust:1.62.1-bullseye
    steps:
      - run: apt update && apt install -y jo
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - uses: tj-actions/changed-files@6c44eb8294bb9c93d6118427f4ff8404b695e1d7
        id: changed-files
      - name: list changed crates
        id: list-changed
        shell: bash
        run: |
          dirs=$(.github/fuzzers-list.sh ${{ steps.changed-files.outputs.all_changed_files }} | jo -a)
          echo "::set-output name=dirs::$dirs"
    outputs:
      dirs: ${{ steps.list-changed.outputs.dirs }}

  # Build fuzzers for any changed crates.
  build:
    needs: [list-changed]
    timeout-minutes: 40
    runs-on: ubuntu-latest
    container:
      image: docker://rust:1.62.1-bullseye
    strategy:
      matrix:
        dir: ${{ fromJson(needs.list-changed.outputs.dirs) }}
    steps:
      - run: rustup toolchain add nightly
      - run: cargo install cargo-fuzz
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - working-directory: ${{matrix.dir}}
        run: cargo +nightly fetch
      - working-directory: ${{matrix.dir}}
        run: cargo +nightly fuzz build
