# Builds the proxy on the nightly toolchain to help catch Rust regressions before they hit beta.
name: rust-nightly

on:
  workflow_dispatch: {}
  pull_request:
    paths:
      - justfile
      - .github/workflows/nightly.yml
  schedule:
    # Run daily @ midnightish Pacific-time.
    - cron: "0 8 * * *"

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUSTFLAGS: "-D warnings -A opaque_hidden_inferred_bound -C debuginfo=0"
  RUSTUP_MAX_RETRIES: 10

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/linkerd/dev:v43-rust
    timeout-minutes: 20
    continue-on-error: true
    steps:
      - run: rustup toolchain install --profile=minimal nightly
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29
      - run: git config --global --add safe.directory "$PWD" # actions/runner#2033
      - run: just toolchain=nightly fetch
      - run: just toolchain=nightly profile=release build
