name: release

on:
  push:
    tags:
    - 'release/*'

jobs:
  package:
    runs-on: ubuntu-latest
    container:
      image: docker://rust:1.37-buster
    steps:
    - name: git co
      uses: actions/checkout@v1
    - name: Get Tag Info
      id: release-tag-meta
      uses: ./.github/actions/release-tag-meta
      with:
        git-ref: ${{ github.ref }}
    - run: echo ${{ toJSON(steps) }}
    - name: make package
      env:
        CARGO_RELEASE: "1"
        PACKAGE_VERSION: ${{ steps.release-tag-meta.name }}
      run: make package
    - name: release
      uses: softprops/action-gh-release@b21b43d
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        name: ${{ steps.release-tag-meta.name }}
        files: package/*
