name: Rust PR

on:
  push:
    branches:
      - master
  pull_request: {}

jobs:
  fmt:
    timeout-minutes: 5
    runs-on: ubuntu-18.04
    container:
      image: docker://rust:1.49.0-buster
    steps:
      - uses: actions/checkout@v1
      - run: rustup component add rustfmt
      - run: make check-fmt

  clippy:
    timeout-minutes: 5
    runs-on: ubuntu-18.04
    container:
      image: docker://rust:1.49.0-buster
    steps:
      - uses: actions/checkout@v1
      - run: rustup component add clippy
      - run: make lint

  check:
    timeout-minutes: 15
    runs-on: ubuntu-18.04
    container:
      image: docker://rust:1.49.0-buster
    steps:
      - uses: actions/checkout@v1
      # Iterate through all subcrates to ensure each compiles indpendently.
      - run: for d in $(for toml in $(find . -name Cargo.toml) ; do echo ${toml%/*} ; done | sort -r ) ; do echo "# $d" ; (cd $d ; cargo check --all-targets) ; done

  test:
    timeout-minutes: 15
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - run: make test
