name: Rust PR

on:
  pull_request: {}

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUST_BACKTRACE: short
  RUSTUP_MAX_RETRIES: 10

jobs:

  ## Required builds

  # Ensures we don't take unintended dependencies.
  audit:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@1e204e9a9253d643386038d443f96446fa156a97
    - uses: Swatinem/rust-cache@d12701459954fec471b2d34cdf7ea3374b026383
    - uses: EmbarkStudios/cargo-deny-action@0ca727bbae7b7b578b9a5f98186caac35aa2a00d
      with:
        command: check bans licenses sources

  # Linting
  clippy:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    container:
      image: docker://rust:1.56.0-buster
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1e204e9a9253d643386038d443f96446fa156a97
      - run: rustup component add clippy
      - uses: Swatinem/rust-cache@d12701459954fec471b2d34cdf7ea3374b026383
      - run: make lint

  # Iterate through all (non-fuzzer) sub-crates to ensure each compiles independently.
  check:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    container:
      image: docker://rust:1.56.0-buster
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1e204e9a9253d643386038d443f96446fa156a97
      - uses: Swatinem/rust-cache@d12701459954fec471b2d34cdf7ea3374b026383
      - run: for d in $(for toml in $(find . -mindepth 2 -name Cargo.toml -not -path '*/fuzz/*') ; do echo ${toml%/*} ; done | sort -r ) ; do echo "# $d" ; (cd $d ; cargo check --all-targets) ; done

  # Enforce automated formatting.
  fmt:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    container:
      image: docker://rust:1.56.0-buster
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1e204e9a9253d643386038d443f96446fa156a97
      - run: rustup component add rustfmt
      - uses: Swatinem/rust-cache@d12701459954fec471b2d34cdf7ea3374b026383
      - run: make check-fmt

  # Run all tests.
  test:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1e204e9a9253d643386038d443f96446fa156a97
      - uses: Swatinem/rust-cache@d12701459954fec471b2d34cdf7ea3374b026383
      - run: make test

  # Generate docs
  docs:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1e204e9a9253d643386038d443f96446fa156a97
      - uses: Swatinem/rust-cache@d12701459954fec471b2d34cdf7ea3374b026383
      - run: cargo doc
