name: markdown

permissions:
  contents: read

on:
  pull_request:
    paths:
      - .github/workflows/shellcheck.yml
      - '**/*.sh'
      - justfile

jobs:
  sh-lint:
    timeout-minutes: 5
    runs-on: ${{ vars.LINKERD2_PROXY_RUNNER || 'ubuntu-24.04' }}
    steps:
      - uses: linkerd/dev/actions/setup-tools@v48
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - run: just sh-lint
