# Runs tests that complete relatively quickly.
name: test

permissions:
  contents: read

on:
  pull_request:
    paths:
      - Cargo.lock
      - "**/Cargo.toml"
      - "**/*.rs"
      - .github/workflows/test.yml

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  DEBIAN_FRONTEND: noninteractive
  RUST_BACKTRACE: short
  RUSTUP_MAX_RETRIES: 10

jobs:
  # Test the meshtls backends.
  meshtls:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container:
      image: docker://rust:1.60.0-bullseye
    steps:
      - run: apt update && apt install -y cmake clang golang # for boring
      - uses: actions/checkout@dcd71f646680f2efd8db4afa5ad64fdcba30e748
      - working-directory: ./linkerd/meshtls
        run: cargo test --all-features --no-run
      - working-directory: ./linkerd/meshtls
        run: cargo test --all-features
      - working-directory: ./linkerd/meshtls
        run: |
          cargo test --no-run \
            --package=linkerd-meshtls-boring \
            --package=linkerd-meshtls-rustls
      - working-directory: ./linkerd/meshtls
        run: |
          cargo test \
            --package=linkerd-meshtls-boring \
            --package=linkerd-meshtls-rustls
      - working-directory: linkerd/meshtls
        run: |
          cargo doc --all-features --no-deps \
            --package=linkerd-meshtls \
            --package=linkerd-meshtls-boring \
            --package=linkerd-meshtls-rustls
      # Run clippy on the boring components while we have the dependencies installed.
      - run: rustup component add clippy
      - working-directory: linkerd/meshtls
        run: cargo clippy --features=boring --all-targets

  # Run non-integration tests. This should be quick.
  unit:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container:
      image: docker://rust:1.60.0-bullseye
    steps:
      - uses: actions/checkout@dcd71f646680f2efd8db4afa5ad64fdcba30e748
      - uses: ./.github/actions/install-protoc
      - run: |
          cargo test --all --no-run \
            --exclude=linkerd-app \
            --exclude=linkerd-app-admin \
            --exclude=linkerd-app-core \
            --exclude=linkerd-app-gateway \
            --exclude=linkerd-app-inbound \
            --exclude=linkerd-app-integration \
            --exclude=linkerd-app-outbound \
            --exclude=linkerd-app-test \
            --exclude=linkerd-meshtls \
            --exclude=linkerd-meshtls-boring \
            --exclude=linkerd-meshtls-rustls \
            --exclude=linkerd2-proxy
      - run: |
          cargo test --all \
            --exclude=linkerd-app \
            --exclude=linkerd-app-admin \
            --exclude=linkerd-app-core \
            --exclude=linkerd-app-gateway \
            --exclude=linkerd-app-inbound \
            --exclude=linkerd-app-integration \
            --exclude=linkerd-app-outbound \
            --exclude=linkerd-app-test \
            --exclude=linkerd-meshtls \
            --exclude=linkerd-meshtls-boring \
            --exclude=linkerd-meshtls-rustls \
            --exclude=linkerd2-proxy
