# Runs tests that complete relatively quickly.
name: test

permissions:
  contents: read

on:
  pull_request:
    paths:
      - Cargo.lock
      - "**/Cargo.toml"
      - "**/*.rs"
      - .github/workflows/test.yml

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  DEBIAN_FRONTEND: noninteractive
  RUST_BACKTRACE: short
  RUSTUP_MAX_RETRIES: 10

jobs:
  # Test the meshtls backends.
  meshtls:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container:
      image: docker://rust:1.60.0-bullseye
    steps:
      - run: apt update && apt install -y cmake clang golang # for boring
      - uses: extractions/setup-just@aa5d15c144db4585980a44ebfdd2cf337c4f14cb
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - run: just fetch
      - run: |
          just test-crate linkerd-meshtls --all-features --no-run \
            --package=linkerd-meshtls-boring \
            --package=linkerd-meshtls-rustls
      - run: |
          just test-crate linkerd-meshtls --all-features \
            --package=linkerd-meshtls-boring \
            --package=linkerd-meshtls-rustls
      # Run clippy on the boring components while we have the dependencies installed.
      - run: rustup component add clippy
      - run: |
          just clippy-crate linkerd-meshtls --features=boring \
            --package=linkerd-meshtls-boring
      - run: just clippy-crate linkerd-meshtls --all-features

  # Run non-integration tests. This should be quick.
  unit:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container:
      image: docker://rust:1.60.0-bullseye
    steps:
      - uses: extractions/setup-just@aa5d15c144db4585980a44ebfdd2cf337c4f14cb
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - uses: ./.github/actions/install-protoc
      - run: just fetch
      - run: |
          just test --no-run \
            --exclude=linkerd-app \
            --exclude=linkerd-app-admin \
            --exclude=linkerd-app-core \
            --exclude=linkerd-app-gateway \
            --exclude=linkerd-app-inbound \
            --exclude=linkerd-app-integration \
            --exclude=linkerd-app-outbound \
            --exclude=linkerd-app-test \
            --exclude=linkerd-meshtls \
            --exclude=linkerd-meshtls-boring \
            --exclude=linkerd-meshtls-rustls \
            --exclude=linkerd2-proxy
      - run: |
          just test \
            --exclude=linkerd-app \
            --exclude=linkerd-app-admin \
            --exclude=linkerd-app-core \
            --exclude=linkerd-app-gateway \
            --exclude=linkerd-app-inbound \
            --exclude=linkerd-app-integration \
            --exclude=linkerd-app-outbound \
            --exclude=linkerd-app-test \
            --exclude=linkerd-meshtls \
            --exclude=linkerd-meshtls-boring \
            --exclude=linkerd-meshtls-rustls \
            --exclude=linkerd2-proxy
