name: rust-toolchain

on:
  pull_request:
    paths:
      - rust-toolchain
      - "**Dockerfile"
      - ".github/workflows/*"
      - ".github/**/Dockerfile"

permissions:
  contents: read

jobs:
  devcontainer:
    runs-on: ubuntu-latest
    container: ghcr.io/linkerd/dev:v32-rust
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - run: |
          VERSION="$(cat rust-toolchain)"
          if [ "$(cargo --version | cut -d' ' -f2)" != "$VERSION" ]; then
            echo "::error file=rust-toolchain::rust-toolchain $VERSION does not match devcontainer $(cargo --version)"
            exit 1
          fi

  dockerfiles:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - run: |
          VERSION="$(cat rust-toolchain)"
          ex=0
          while IFS= read -r file ; do
            versions=$(sed -nE 's/^ARG RUST_VERSION=([^ ]+)/\1/p' "$file")
            for mismatch in $(echo "$versions" | grep -vF "$VERSION" || true) ; do
              echo "::error file=$file::$file uses incorrect rust version(s): $mismatch"
              ex=$((ex + 1))
            done
          done < <(find . -name Dockerfile)
          exit $ex

  workflows:
    runs-on: ubuntu-latest
    container: ghcr.io/linkerd/dev:v32-tools
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - shell: bash
        run: |
          VERSION="$(cat rust-toolchain)"
          ex=0
          while IFS= read -r file ; do
            while IFS= read -r image ; do
              if [[ "$image" =~ ^docker://(docker.io/library/)?rust: ]]; then
                tag="${image##*rust:}"
                v="${tag%%-*}"
                if [[ "$v" != "$VERSION" ]]; then
                  echo "::warning file=$file::$file uses incorrect rust version: $v"
                  ex=$((ex + 1))
                fi
              fi
            done < <(yq '.jobs[] | select(.container) | .container.image // .container' "$file")
          done < <(find .github/workflows -name '*.yml')
          exit $ex
