name: rust-toolchain

on:
  pull_request:
    paths:
      - rust-toolchain
      - "**Dockerfile"
      - ".github/workflows/*"
      - ".github/**/Dockerfile"

permissions:
  contents: read

jobs:
  devcontainer:
    runs-on: ubuntu-latest
    container: ghcr.io/linkerd/dev:v39-rust
    steps:
      - uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f
      - run: |
          VERSION="$(cat rust-toolchain)"
          if [ "$(cargo --version | cut -d' ' -f2)" != "$VERSION" ]; then
            echo "::error file=rust-toolchain::rust-toolchain $VERSION does not match devcontainer $(cargo --version)"
            exit 1
          fi

  workflows:
    runs-on: ubuntu-latest
    steps:
      - uses: linkerd/dev/actions/setup-tools@v39
      - uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f
      - shell: bash
        run: |
          VERSION="$(cat rust-toolchain)"
          ex=0
          while IFS= read -r file ; do
            while IFS= read -r image ; do
              if [[ "$image" =~ ^docker://(docker.io/library/)?rust: ]]; then
                tag="${image##*rust:}"
                v="${tag%%-*}"
                if [[ "$v" != "$VERSION" ]]; then
                  echo "::warning file=$file::$file uses incorrect rust version: $v"
                  ex=$((ex + 1))
                fi
              fi
            done < <(yq '.jobs[] | select(.container) | .container.image // .container' "$file")
          done < <(find .github/workflows -name '*.yml')
          exit $ex
