name: rust-toolchain

on:
  pull_request:
    paths:
      - rust-toolchain
      - "**Dockerfile"
      - ".github/workflows/*"
      - ".github/**/Dockerfile"

permissions:
  contents: read

jobs:
  devcontainer:
    runs-on: ${{ vars.LINKERD2_PROXY_RUNNER || 'ubuntu-24.04' }}
    container: ghcr.io/linkerd/dev:v48-rust
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - run: git config --global --add safe.directory "$PWD" # actions/runner#2033
      - run: |
          VERSION_REGEX='channel = "([0-9]+\.[0-9]+\.[0-9]+)"'
          TOOLCHAIN=$(cat rust-toolchain.toml)
          if [[ $TOOLCHAIN =~ $VERSION_REGEX ]]; then
            VERSION=${BASH_REMATCH[1]}
            if [ "$(cargo --version | cut -d' ' -f2)" != "$VERSION" ]; then
              echo "::error file=rust-toolchain.toml::rust-toolchain channel '$VERSION' does not match devcontainer '$(cargo --version)'"
              exit 1
            fi
          else
            echo "::error file=rust-toolchain.toml::failed to parse rust-toolchain.toml"
            exit 1
          fi
        shell: bash


  workflows:
    runs-on: ${{ vars.LINKERD2_PROXY_RUNNER || 'ubuntu-24.04' }}
    steps:
      - uses: linkerd/dev/actions/setup-tools@4c8dc566b8c409aeca86de792e8e78ff26cff3f0
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - shell: bash
        run: |
          VERSION_REGEX='channel = "([0-9]+\.[0-9]+\.[0-9]+)"'
          TOOLCHAIN=$(cat rust-toolchain.toml)
          if [[ $TOOLCHAIN =~ $VERSION_REGEX ]]; then
            VERSION=${BASH_REMATCH[1]}
          else
            echo "::error file=rust-toolchain.toml::failed to parse rust-toolchain.toml"
            exit 1
          fi

          ex=0
          while IFS= read -r file ; do
            while IFS= read -r image ; do
              if [[ "$image" =~ ^docker://(docker.io/library/)?rust: ]]; then
                tag="${image##*rust:}"
                v="${tag%%-*}"
                if [[ "$v" != "$VERSION" ]]; then
                  echo "::warning file=$file::$file uses incorrect rust version: '$v' (rust-toolchain.toml contains '$VERSION')"
                  ex=$((ex + 1))
                fi
              fi
            done < <(yq '.jobs[] | select(.container) | .container.image // .container' "$file")
          done < <(find .github/workflows -name '*.yml')
          exit $ex
