[package]
name = "linkerd-proxy-resolve"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2021"
publish = false
description = """
Utilities for working with `Resolve` implementations
"""

[dependencies]
futures = { version = "0.3", default-features = false }
linkerd-error = { path = "../../error" }
linkerd-proxy-core = { path = "../core" }
thiserror = "1.0"
tower = "0.4.11"
tracing = "0.1"
pin-project = "1"
