[package]
name = "linkerd-tls"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false

[dependencies]
async-trait = "0.1"
bytes = "1"
futures = "0.3.9"
linkerd-conditional = { path = "../conditional" }
linkerd-dns-name = { path = "../dns/name" }
linkerd-error = { path = "../error" }
linkerd-identity = { path = "../identity" }
linkerd-io = { path = "../io" }
linkerd-stack = { path = "../stack" }
rustls = "0.19"
tokio = { version = "1", features = ["macros", "time"]}
tokio-rustls = "0.22"
tower = "0.4.5"
tracing = "0.1.23"
webpki = "0.21"
untrusted = "0.7"

[dev-dependencies]
linkerd-identity = { path = "../identity", features = ["test-util"] }
linkerd-proxy-transport = { path = "../proxy/transport" }
tokio = { version = "1", features = ["rt-multi-thread"] }
tower = { version = "0.4.5", default-features = false, features = ["util"] }
tracing-subscriber = "0.2.16"
