[package]
name = "linkerd2-app"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
edition = "2018"
publish = false
description = """
Configures and executes the proxy

This is used by tests and the executable.
"""

[features]
mock-orig-dst  = ["linkerd2-app-core/mock-orig-dst"]

[dependencies]
futures = { version = "0.3" }
http-body = "0.3"
indexmap = "1.0"
ipnet = "1.0"
linkerd2-app-core = { path = "./core" }
linkerd2-app-gateway = { path = "./gateway" }
linkerd2-app-inbound = { path = "./inbound" }
linkerd2-app-outbound = { path = "./outbound" }
linkerd2-opencensus = { path = "../opencensus" }
linkerd2-error = { path = "../error" }
regex = "1.0.0"
tokio = { version = "0.2", features = ["rt-util"] }
tonic = { version = "0.2", default-features = false, features = ["prost"] }
tower = "0.3"
tracing = "0.1.9"
tracing-futures = { version = "0.2", features = ["std-future"]}

[dev-dependencies]
bytes = "0.5"
h2 = "0.2.6"
http = "0.2"
hyper = "0.13.7"
linkerd2-metrics = { path = "../metrics", features = ["test_util"] }
linkerd2-proxy-api = { git = "https://github.com/linkerd/linkerd2-proxy-api", tag = "v0.1.13", features = ["arbitrary"] }
net2 = "0.2"
quickcheck = { version = "0.9", default-features = false }
ring = "0.16"
rustls = "0.17"
tokio-connect = { git = "https://github.com/carllerche/tokio-connect" }
tokio-io = "0.1.6"
tokio-current-thread = "0.1.4"
tokio-rustls = "0.13"
webpki = "0.21"
