[package]
name = "linkerd-app"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2018"
publish = false
description = """
Configures and executes the proxy

This is used by tests and the executable.
"""

[features]
allow-loopback = ["linkerd-app-outbound/allow-loopback"]
openssl-tls = ["linkerd-app-core/openssl-tls"]
boring-tls = ["linkerd-app-core/boring-tls"]
rustls-tls = ["linkerd-app-core/rustls-tls"]

[dependencies]
futures = "0.3.15"
indexmap = "1.0"
ipnet = "2.0"
linkerd-app-core = { path = "./core" }
linkerd-app-gateway = { path = "./gateway" }
linkerd-app-inbound = { path = "./inbound" }
linkerd-app-outbound = { path = "./outbound" }
linkerd-opencensus = { path = "../opencensus" }
linkerd-error = { path = "../error" }
regex = "1.0.0"
thiserror = "1.0"
tokio = { version = "1", features = ["rt"] }
tokio-stream = { version = "0.1.5", features = ["time", "sync"] }
tonic = { version = "0.4", default-features = false, features = ["prost"] }
tower = "0.4.7"
tracing = "0.1.23"
