[package]
name = "linkerd2-app"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
edition = "2018"
publish = false
description = """
Configures and executes the proxy

This is used by tests and the executable.
"""

[dependencies]
futures = "0.1"
indexmap = "1.0"
linkerd2-app-core = { path = "./core" }
linkerd2-app-inbound = { path = "./inbound" }
linkerd2-app-outbound = { path = "./outbound" }
linkerd2-opencensus = { path = "../opencensus" }
regex = "1.0.0"
tokio = "0.1.14"
tracing = "0.1.9"
tracing-futures = "0.1"

[dev-dependencies]
bytes = "0.4"
h2 = "0.1"
http = "0.1"
http-body = "0.1"
hyper = "0.12"
linkerd2-metrics = { path = "../metrics", features = ["test_util"] }
linkerd2-proxy-api = { git = "https://github.com/linkerd/linkerd2-proxy-api", features = ["arbitrary"], tag = "v0.1.10" }
net2 = "0.2"
quickcheck = { version = "0.8", default-features = false }
ring = "0.16"
rustls = "0.16"
tokio-connect = { git = "https://github.com/carllerche/tokio-connect" }
tokio-io = "0.1.6"
tokio-current-thread = "0.1.4"
tokio-rustls = "0.10"
tower = "0.1"
tower-grpc = { version = "0.1", default-features = false, features = ["protobuf"] }
webpki = "0.21"
