[package]
name = "linkerd2-app"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
edition = "2018"
publish = false
description = """
Configures and executes the proxy

This is used by tests and the executable.
"""

[features]
mock-orig-dst  = ["linkerd2-app-core/mock-orig-dst"]

[dependencies]
futures = "0.3"
indexmap = "1.0"
ipnet = "1.0"
linkerd2-app-core = { path = "./core" }
linkerd2-app-gateway = { path = "./gateway" }
linkerd2-app-inbound = { path = "./inbound" }
linkerd2-app-outbound = { path = "./outbound" }
linkerd2-opencensus = { path = "../opencensus" }
linkerd2-error = { path = "../error" }
regex = "1.0.0"
tokio = { version = "0.3", features = ["rt"] }
tonic = { version = "0.3", default-features = false, features = ["prost"] }
tower = "0.4"
tracing = "0.1.22"
tracing-futures = { version = "0.2", features = ["std-future"]}
quanta = "0.6"