[package]
name = "linkerd-app"
version = "0.1.0"
authors = ["Linkerd Developers <cncf-linkerd-dev@lists.cncf.io>"]
license = "Apache-2.0"
edition = "2021"
publish = false
description = """
Configures and executes the proxy

This is used by tests and the executable.
"""

[features]
allow-loopback = ["linkerd-app-outbound/allow-loopback"]

[dependencies]
futures = { version = "0.3", default-features = false }
linkerd-app-admin = { path = "./admin" }
linkerd-app-health = { path = "./health" }
linkerd-app-core = { path = "./core" }
linkerd-app-gateway = { path = "./gateway" }
linkerd-app-inbound = { path = "./inbound" }
linkerd-app-outbound = { path = "./outbound" }
linkerd-error = { path = "../error" }
linkerd-opencensus = { path = "../opencensus" }
regex = "1"
thiserror = "1"
tokio = { version = "1", features = ["rt"] }
tokio-stream = { version = "0.1", features = ["time", "sync"] }
tonic = { version = "0.7", default-features = false, features = ["prost"] }
tower = "0.4"
tracing = "0.1"
